/* colors.scss
** Define color variables here
**
*** wireframe colors
*** @author Google
*** @link https://www.google.com/design/spec/style/color.html
*** NOTE: this uses Google's Material Design color scheme - "Grey"
*/

$grey-50: #fafafa !default;
$grey-100: #f5f5f5 !default;
$grey-200: #eee !default;
$grey-300: #e0e0e0 !default;
$grey-400: #bdbdbd !default;
$grey-500: #9e9e9e !default;
$grey-600: #757575 !default;
$grey-700: #616161 !default;
$grey-800: #424242 !default;
$grey-900: #212121 !default;

/* base colors*/

/* variables */
$white: #fff !default;
$black: #262626 !default;

/* text */
$base-body-color: $grey-700 !default;
$c-font-error: #d01500;
$c-font-success: #15d000;

/* borders */
$base-border-color: $grey-400 !default;

/* bgs */
$base-background-color: $white !default;

/* theme colors */
$c-theme-primary: $grey-700;
$c-theme-secondary: $grey-500;
$c-theme-tertiary: $grey-300;
$base-outline-color: $grey-500 !default;
$base-fill-color: $grey-300 !default;
