$gutter: 30px;
$gutter-mobile: 15px;
$max-width: 1230px;
$max-width-container: $max-width + (2 * $gutter);
$max-content-width: $max-width !default;
$multi-image__grid-space: 30px;
$x-small-min: 470px;
$small-min: 680px;
$medium-min: 780px;
$large-min: 910px;
$x-large-min: $max-width-container;
$global-header-min: 910px;
$x-small-max: ($x-small-min - 1);
$small-max: ($small-min - 1);
$medium-max: ($medium-min - 1);
$large-max: ($large-min - 1);
$x-large-max: ($x-large-min - 1);
$global-header-max: ($global-header-min - 1);
$sans-serif: "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$serif: "Noto Serif", georgia, "Times New Roman", times, serif;
$secondary-sans: "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$font-primary: $sans-serif;
$font-secondary: $secondary-sans;
$font-tertiary: $serif;
$z-modal: 100 !default;
$z-dropdown: 90 !default;
$z-sticky-content: 80 !default;
$slick-arrow-color: black;
$slick-loader-path: "/";
