<?xml version="1.0" encoding="utf-8" ?>

<configuration name="Foundation.ErrorHandling" extends="AtriusHealth.Base">
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="AtriusHealth.$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/$(layer)/Error Handling" />
  </templatePredicate>
  
</configuration>
