<section class="container container--search">
    <div class="container__col">
        @Html.Sitecore().DynamicPlaceholder("secondary-column-left")
    </div>
    <div class="container__col">
        @Html.Sitecore().DynamicPlaceholder("primary-column-right")
    </div>
</section>
