@import "../../../scss/variables/index.scss";


.related-links__links {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;

  @media (--bp-small-min) {
    margin-top: 32px;

    font-size: 16px;
  }
}

.related-links__link {
  margin: 0;

  font-size: 1.1rem;
  font-weight: 700;

  & + & {
    margin-top: 12px;
  }

  a {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }
}
