<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.PageContent" description="Page Content" extends="AtriusHealth.Base" dependencies="Foundation.*">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/Page Content"></include>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/Page Content"></include>
            <include name="Models" database="master" path="/sitecore/layout/Models/$(layer)/Page Content"></include>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/$(layer)/Page Content"></include>
            <include name="EditFrame" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Page Content"></include>
            <include name="Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/AtriusHealth/$(layer)/$(module)"></include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
