<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <interfaceFactory>
        <processor patch:before="*[1]" type="Thread.Feature.PageContent.Pipelines.InterfaceFactory.DateBaseISortableProcessor,Thread.Feature.PageContent" />
        <processor patch:before="*[1]" type="Thread.Feature.PageContent.Pipelines.InterfaceFactory.FallbackItemIListableProcessor,Thread.Feature.PageContent" />
        <processor patch:before="*[1]" type="Thread.Feature.PageContent.Pipelines.InterfaceFactory.DefaultIPageEditableProcessor,Thread.Feature.PageContent" />
      </interfaceFactory>
      <renderField>
        <processor patch:instead="*[@type='Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel']" type="Thread.Feature.PageContent.Pipelines.RenderField.GetLinkFieldValue, Thread.Feature.PageContent" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>
