<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Forms" description="Forms" extends="Thread.Foundation" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Actions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions">
              <exclude children="true">
                <except name="Redirect to URL Parameter" />
                <except name="Send Email" />
              </exclude>
            </include>
            <include name="FieldTypes" database="master" path="/sitecore/system/Settings/Forms/Field Types">
              <exclude children="true">
                <except name="Basic" includeChildren="false" />
                <except name="Basic/Text" includeChildren="false" />
                <except name="Basic/Single-Line Text" includeChildren="false" />
                <except name="Basic/Multiple-Line Text" includeChildren="false" />
                <except name="Basic/Email" includeChildren="false" />
                <except name="Security" includeChildren="false" />
                <except name="Security/Password" includeChildren="false" />
                <except name="Security/Password Confirmation" includeChildren="false"/>
                <except name="Structure" includeChildren="false"/>
                <except name="Structure/Conditional Querystring Section" includeChildren="false" />
                <except name="Structure/Submit button" includeChildren="false"/>
              </exclude>
            </include>
            <include name="FieldTemplates" database="master" path="/sitecore/Templates/System/Forms/Fields" />
            <include name="PasswordDialog" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/Password/Details"/>
            <include name="ConditionalQuerystringDialog" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/ConditionalQuerystringSection"/>
          </predicate>
        </configuration>
        <configuration name="Foundation.Forms.Content" description="Forms" extends="Thread.Base.Content" dependencies="Foundation.Forms">
          <predicate>
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default/$(module)"></include>
            <include name="EmailTemplates" database="master" path="/sitecore/system/Settings/Forms/Email Templates" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
