<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Global" description="Globals" extends="AtriusHealth.Feature" dependencies="Foundation.*">
          <predicate>
            <include name="Placeholders" database="master" path="/sitecore/Media Library/Placeholders/$(layer)/$(module)"></include>
            <include name="Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/AtriusHealth/$(layer)/$(module)"></include>
            <include name="EditFrame" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/$(module)"></include>
          </predicate>
        </configuration>
	    <configuration name="Feature.Global.Content" description="Global Dictionary Entries" extends="AtriusHealth.Base.Content" dependencies="Feature.Global">
		    <predicate>
		      <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default/$(module)"></include>
		    </predicate>
	    </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
