:root {
  --ai-space-3: var(--size-3);
  --ai-space-5: var(--size-5);
  --ai-border: thin solid var(--color-neutral-100);
  --ai-color: var(--color-neutral-900);
}

.accordion-item {
  --accordion-heading-h4-font: var(--font-body-body-md-med);
  --accordion-heading-h2-font: var(--font-headings-1600-800-heading-d);
  --accordion-heading-active-bg: var(--color-yellow-50);
  --accordion-heading-text-dec: underline;

  position: relative;
  border-block: var(--ai-border);

  .global-footer & {
    border-top: none !important;
  }

  .accordion-item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--ai-space-3);
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    cursor: pointer;

    h2 {
      margin: 0;
      padding-block: var(--ai-space-3);
      font: var(--accordion-heading-h2-font);

      .accordion-container--footer & {
        font: var(--heading-e);
      }
    }

    h4 {
      margin: 0;
      padding-block: var(--size-2);
      font: var(--accordion-heading-h4-font);
    }

    .accordion-item__title__arrow {
      height: var(--ai-space-5);
      width: var(--ai-space-5);
      color: var(--color-yellow-300);
      transition: ease color 0.25s;
    }

    &::marker {
      display: none;
    }

    &:hover {
      .accordion-item__title__arrow {
        color: var(--ai-color);
      }
    }
  }
}

.accordion-container--footer .accordion-item__title:hover {
  .accordion-item__title__arrow {
    color: currentcolor;
  }
}

.accordion-item[open] {
  .accordion-item__title {
    text-decoration: var(--accordion-heading-text-dec);
    background-color: var(--accordion-heading-active-bg);

    .accordion-container--footer & {
      color: var(--color-yellow-300);
      text-decoration: none;
      background-color: transparent;
    }
  }

  .accordion-item__title__arrow {
    color: var(--ai-color);
    transform: rotate(180deg);

    .accordion-container--footer & {
      color: currentcolor;
    }
  }
}

.accordion-item__copy {
  padding-block: var(--ai-space-3);
}
