.accordion-item {
  --accordion-heading-h4-font: var(--font-body-body-md-med);
  --accordion-heading-h2-font: var(--font-headings-1600-800-heading-d);
  --accordion-heading-active-bg: var(--color-yellow-50);
  --accordion-heading-text-dec: underline;

  position: relative;
  border-block: thin solid var(--color-neutral-100);

  .global-footer & {
    border-top: none !important;
  }

  .accordion-item__title {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 24px;
    gap: var(--spacing-16);
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    cursor: pointer;

    h2 {
      margin: 0;
      padding-block: var(--spacing-16);
      font: var(--accordion-heading-h2-font);

      .accordion-container--footer & {
        font: var(--heading-e);
      }
    }

    h4 {
      margin: 0;
      padding-block: var(--spacing-8);
      font: var(--accordion-heading-h4-font);
    }

    .accordion-item__title__arrow {
      height: 24px;
      width: 24px;
      color: var(--color-yellow-300);
      transition: ease color 0.25s;
    }

    &::marker {
      display: none;
    }

    &:hover {
      .accordion-item__title__arrow {
        color: var(--color-neutral-900);
      }
    }
  }
}

.accordion-container--footer .accordion-item__title:hover {
  .accordion-item__title__arrow {
    color: currentcolor;
  }
}

.accordion-item[open] {
  .accordion-item__title {
    text-decoration: var(--accordion-heading-text-dec);
    background-color: var(--accordion-heading-active-bg);

    .accordion-container--footer & {
      color: var(--color-yellow-300);
      text-decoration: none;
      background-color: transparent;
    }
  }

  .accordion-item__title__arrow {
    color: var(--color-neutral-900);
    transform: rotate(180deg);

    .accordion-container--footer & {
      color: currentcolor;
    }
  }
}

.accordion-item__copy {
  padding-block: var(--spacing-16);
}
