.pagination {
  text-align: center;
}

.pagination__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: var(--size-2);
}

.pagination__arrows {
  gap: var(--size-3);
}

.pagination__dots,
.pagination__numbers {
  gap: var(--size-7);
}

.pagination__dot {
  height: 11px;
  width: 11px;
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-round);

  &.pagination--active {
    background-color: var(--color-blue-900);
  }
}

.pagination__pages {
  gap: var(--size-3);

  .btn {
    &:first-child {
      margin-inline-end: var(--size-2);
    }

    &:last-child {
      margin-inline-start: var(--size-2);
    }
  }

  .pagination__number {
    color: var(--color-neutral-900);
  }

  .pagination--active {
    text-decoration: underline;
    text-underline-offset: var(--size-0);
  }
}
