<!--
    ********************************************************************
    Unicorn Helix configurations
   
    Defines standard configurations for modules in all layers
    ********************************************************************
   
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <!-- Base configuration for all modules -->
        <configuration name="AtriusHealth.Base" abstract="true">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\always" useDataCache="false" singleInstance="true" />

          <roleDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\always\Roles" type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" singleInstance="true" />
          <roleSyncConfiguration removeOrphans="false" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
   
        </configuration>
        <configuration name="AtriusHealth.Base.Content" abstract="true" extends="AtriusHealth.Base">
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\once" useDataCache="false" singleInstance="true" />
        </configuration>

        <configuration name="AtriusHealth.Foundation" abstract="true" extends="AtriusHealth.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
          </predicate>
        </configuration>
        
        <configuration name="AtriusHealth.Feature" abstract="true" extends="AtriusHealth.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="Models" database="master" path="/sitecore/layout/Models/$(layer)/$(module)"></include>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/$(layer)/$(module)"></include>
          </predicate>
        </configuration>

        <configuration name="AtriusHealth.Project" abstract="true" extends="AtriusHealth.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(module)"></include>
            <include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(module)"></include>
          </predicate>
        </configuration>

        <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
        <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Users" singleInstance="true" />
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
