@import "../../../scss/variables/index";

.search-box {
  width: 100%;
}

.search-box__input {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0.75rem var(--size-4);
  border: 2px solid var(--color-neutral-50);
  background-color: var(--color-design-system-white);
  translate: border 240ms ease-in-out;

  input {
    flex: auto;
    width: auto;
    font: var(--font-ui-labels-ui-sm);
    border: 0;
    background-color: transparent;
    box-shadow: none;

    &:focus {
      outline: 0;
    }
  }

  &:focus-within {
    border: 2px solid var(--color-yellow-300);
  }

  &::placeholder {
    color: var(--color-neutral-600);
  }
}

.search-box__button {
  flex: none;

  background: transparent;
  border: 0;
  cursor: pointer;

  & > svg {
    color: var(--color-neutral-200);
  }
}

.search-box__loader {
  .search-results__spinner {
    position: absolute;
    top: 0;
    right: 45px;
    left: auto;

    text-align: left;

    img {
      height: 32px;
      width: 32px;
      margin-top: 4px;
    }
  }
}
