@using Sitecore.Configuration
@using AtriusHealth.Feature.Multimedia
@using AtriusHealth.Foundation.Mvc.Extensions
@model AtriusHealth.Feature.Multimedia.Models.VideoModel

@if (Model.IsValidVideo)
{
 
  <div
    class='js-youtube-video-mount youtube-video-mount component'
    data-model='@Html.Raw(Model.ReactData)'
  ></div>

 
  
}
else if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
  <p>YouTube ID cannot be parsed from URL.</p>
}
