<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Account" description="Account" extends="AtriusHealth.Feature" dependencies="Foundation.*">
          <predicate>
            <include name="CustomUserTemplate" database="core" path="/sitecore/templates/System/Security/CustomUser"></include>
            <include name="CustomUser" database="core" path="/sitecore/system/Settings/Security/Profiles/CustomUser"></include>
            <include name="Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/AtriusHealth/$(layer)/$(module)"></include>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/$(module)"></include> 
            <include name="ActionForms" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions">
              <exclude children="true">
                <except name="LoginUser" />
                <except name="RegisterUser" />
                <except name="SecureAccountLink" />
                <except name="ResetPassword" />
              </exclude>
            </include>
            <include name="Actions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions">
              <exclude children="true">
                <except name="Login User" />
                <except name="Register User" />
                <except name="Redirect to URL Parameter" />
                <except name="Send Secure Account Link" />
                <except name="Reset Password" />
              </exclude>
            </include>
            <include name="Validations" database="master" path="/sitecore/system/Settings/Forms/Validations">
              <exclude children="true">
                <except name="Email Validator" />
              </exclude>
            </include>
          </predicate>
        </configuration>
        <configuration name="Feature.Account.Content" description="Account" extends="AtriusHealth.Base.Content" dependencies="Feature.Account">
          <predicate>
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default/$(module)"></include>
            <include name="Forms" database="master" path="/sitecore/Forms">
              <exclude children="true">
                <except name="Login" />
                <except name="Registration" />
                <except name="Forgot Password" />
                <except name="Reset Password" />
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
