<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Thread.Foundation.Mvc.DependencyInjection.Registrar, Thread.Foundation.Mvc" />
    </services>
    <pipelines>
      <initialize>
        <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" type="Thread.Foundation.Mvc.Pipelines.Initialize.InitializeThreadControllerFactory,Thread.Foundation.Mvc" resolve="true" />
      </initialize>
      <mvc.getModel>
        <processor patch:before="*[1]" type="Thread.Foundation.Mvc.Pipelines.MvcGetModel.ServiceProviderModelLocatorProcessor,Thread.Foundation.Mvc" resolve="true" />
      </mvc.getModel>
    </pipelines>
  </sitecore>
</configuration>