<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="AtriusHealth.Foundation.Mvc.DependencyInjection.Registrar, AtriusHealth.Foundation.Mvc" />
    </services>
    <pipelines>
      <initialize>
        <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" type="AtriusHealth.Foundation.Mvc.Pipelines.Initialize.InitializeAtriusHealthControllerFactory,AtriusHealth.Foundation.Mvc" resolve="true" />
      </initialize>
      <mvc.getModel>
        <processor patch:before="*[1]" type="AtriusHealth.Foundation.Mvc.Pipelines.MvcGetModel.ServiceProviderModelLocatorProcessor,AtriusHealth.Foundation.Mvc" resolve="true" />
      </mvc.getModel>
    </pipelines>
  </sitecore>
</configuration>
