<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Mvc" description="MVC" extends="Thread.Base" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Models" database="master" path="/sitecore/layout/Models/$(layer)/$(module)"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>