<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
	  <contentSearch>
	    <indexConfigurations>
	      <defaultSolrIndexConfiguration>
          <fieldMap>
            <fieldTypes>
              <!-- Fixing Sitecore bug! -->
              <fieldType fieldTypeName="droplink|droptree|grouped droplink|tree" returnType="string" />
            </fieldTypes>
            <fieldNames>
              <!-- KJM: Fixing issue where Sitecore/Solr aren't picking up on taxonomy fields -->
              <field fieldName="topics" returnType="stringCollection" />
              <field fieldName="locations" returnType="stringCollection" />
              <field fieldName="people" returnType="stringCollection" />
            </fieldNames>
          </fieldMap>
          <documentOptions>
	          <fields hint="raw:AddComputedIndexField">
	            <field fieldName="c_searchable" returnType="bool">AtriusHealth.Foundation.Search.ComputedFields.IsSearchableField,AtriusHealth.Foundation.Search</field>
	            <field fieldName="c_topics" returnType="stringCollection">AtriusHealth.Foundation.Search.ComputedFields.TopicsFacetField,AtriusHealth.Foundation.Search</field>
	            <field fieldName="c_content_type" returnType="string">AtriusHealth.Foundation.Search.ComputedFields.ContentTypeFacetField,AtriusHealth.Foundation.Search</field>
	            <field fieldName="c_authors" returnType="stringCollection">AtriusHealth.Foundation.Search.ComputedFields.AuthorsFacetField,AtriusHealth.Foundation.Search</field>
	            <field fieldName="c_locations" returnType="stringCollection">AtriusHealth.Foundation.Search.ComputedFields.LocationsFacetField,AtriusHealth.Foundation.Search</field>
	            <field fieldName="c_date" returnType="datetime">AtriusHealth.Foundation.Search.ComputedFields.SearchDateField,AtriusHealth.Foundation.Search</field>
	            <field fieldName="c_title_display" returnType="text">AtriusHealth.Foundation.Search.ComputedFields.TitleField,AtriusHealth.Foundation.Search</field>
	            <field fieldName="c_title_sort" returnType="string">AtriusHealth.Foundation.Search.ComputedFields.TitleField,AtriusHealth.Foundation.Search</field>
              <field fieldName="c_alltemplates" returnType="stringCollection">AtriusHealth.Foundation.Search.ComputedFields.AllTemplatesField,AtriusHealth.Foundation.Search</field>
	          </fields>
	        </documentOptions>
          <virtualFields type="Sitecore.ContentSearch.VirtualFieldProcessorMap, Sitecore.ContentSearch">
            <processors hint="raw:AddFromConfiguration">
              <add type="AtriusHealth.Foundation.Search.VirtualFields.DateRangeField, AtriusHealth.Foundation.Search" fieldName="daterange"/>
            </processors>
          </virtualFields>
	      </defaultSolrIndexConfiguration>
	    </indexConfigurations>
    </contentSearch>
	  <settings>
	    <setting name="Velir.Search.QueryString.PageIdKey">
	      <patch:attribute name="value">pageId</patch:attribute>
	    </setting>
	  </settings>
    <pipelines>
      <velirSearch.applyFilters>
        <processor type="AtriusHealth.Foundation.Search.Pipelines.VelirSearchApplyFilters.AppyIsSearchableFilter,AtriusHealth.Foundation.Search" />
        <processor type="AtriusHealth.Foundation.Search.Pipelines.VelirSearchApplyFilters.ApplyLatestVersionFilter,AtriusHealth.Foundation.Search" />
      </velirSearch.applyFilters>
      <indexing.getDependencies help="Processors should derive from Sitecore.ContentSearch.Pipelines.GetDependencies.BaseProcessor">
        <processor type="AtriusHealth.Foundation.Search.Pipelines.IndexingGetDependencies.GetTaxonomyDependencies, AtriusHealth.Foundation.Search"/>
      </indexing.getDependencies>
      <contentSearch.PopulateSolrSchema>
        <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.PopulateFields, Sitecore.ContentSearch.SolrProvider">

          <!-- 
          Horizion installation note: For Horizion Search to work, the following line must be commented out during the Horizion install. 
          After the schema for sitecore_horizion_index has been published, this can be uncommented. 
          -->
          <param set:type="AtriusHealth.Foundation.Search.Schema.CustomPopulateHelperFactory,AtriusHealth.Foundation.Search" />
        </processor>
      </contentSearch.PopulateSolrSchema>
    </pipelines>
	</sitecore>
</configuration>
