<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Search" description="Foundation Search" extends="Thread.Base" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Velir.Search.Templates" database="master" path="/sitecore/templates/Velir/Search" />
            <include name="Velir.Search.Module" database="master" path="/sitecore/system/Modules/Search">
              <exclude path="/sitecore/system/Modules/Search/Filters" />
            </include>
            <include name="Velir.Search.Elements" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Velir Search" />
            <include name="Velir.Search.Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Velir Search" />
            <include name="Velir.Search.Rules" database="master" path="/sitecore/system/Settings/Rules/Velir Search" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>