@import "../../../scss/variables/index";

:root {
}

.text-banner {
  --text-banner-decription: var(--body-sm);
  --text-banner-heading: var(--font-headings-400-heading-d);
  --text-banner-container-padding: var(--spacing-40) var(--spacing-16);

  @media (min-width: 361px) {
    --text-banner-container-padding: var(--spacing-40);
    --text-banner-decription: var(--body-md);
    --text-banner-heading: var(--font-headings-1600-800-heading-d);
  }

  color: var(--text-banner-color);
  text-align: center;
  background-color: var(--text-banner-background-color);

  &.text-banner--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.text-banner__container.container {
  padding: var(--text-banner-container-padding);
}

.text-banner__title {
  margin-block-end: var(--spacing-24);
  font: var(--text-banner-heading);
}

.text-banner__description {
  margin-block-end: var(--spacing-24);
  font: var(--text-banner-decription);
}

.text-banner__cta {
  transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1); /* Fast Out, Slow In */

  &:hover {
    opacity: 0.7;
  }
}

/* Text Banner Themes */
.text-banner--theme1 {
  --text-banner-background-color: var(--color-design-system-white);
  --text-banner-color: var(--color-neutral-900);
}

.text-banner--theme2 {
  --text-banner-background-color: var(--color-green-900);
  --text-banner-color: var(--color-design-system-white);
}

.text-banner--theme3 {
  --text-banner-background-color: var(--color-purple-900);
  --text-banner-color: var(--color-design-system-white);
}

.text-banner--theme4 {
  --text-banner-background-color: var(--color-blue-800);
  --text-banner-color: var(--color-design-system-white);
}

.text-banner--theme5 {
  --text-banner-background-color: var(--color-purple-50);
  --text-banner-color: var(--color-neutral-900);
}

.text-banner--theme6 {
  --text-banner-background-color: var(--color-green-50);
  --text-banner-color: var(--color-neutral-900);
}

.text-banner--theme7 {
  --text-banner-background-color: var(--color-blue-50);
  --text-banner-color: var(--color-neutral-900);
}

.text-banner--theme8 {
  --text-banner-background-color: var(--color-yellow-50);
  --text-banner-color: var(--color-neutral-900);
}
