@import "../../../scss/variables/index";

.text-banner {
  text-align: center;

  &.text-banner--no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.text-banner__container.container {
  padding: 40px 16px;

  @media (min-width: 361px) {
    padding: 40px;
  }
}

.text-banner__title {
  margin-block-end: 24px;
  font-size: 32px;
  line-height: 1.25;

  @media (min-width: 361px) {
    font-size: 24px;
  }
}

.text-banner__description {
  margin-block-end: 24px;
  font-family: $secondary-sans;
  font-size: 18px;
  line-height: 1.6;

  @media (min-width: 361px) {
    font-size: 20px;
  }
}

.text-banner__cta {
  transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1); /* Fast Out, Slow In */

  &:hover {
    opacity: 0.7;
  }
}

/* Text Banner Themes */
.text-banner--theme1 {
  color: var(--color-design-system-white);
  background-color: var(--color-blue-800);
}

.text-banner--theme2 {
  color: var(--color-design-system-white);
  background-color: var(--color-green-900);
}

.text-banner--theme3 {
  color: var(--color-design-system-white);
  background-color: var(--color-purple-900);
}

.text-banner--theme4 {
  color: var(--color-neutral-900);
  background-color: var(--color-design-system-white);
}
