@import "../../../scss/variables/index";

.primary-nav {
  width: auto;

  @media (--bp-global-header-min) {
    // margin-right: 16px;
  }
}

.primary-nav__items {
  @include zero-list;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (--bp-global-header-max) {
    align-items: stretch;
    flex-direction: column;
  }
}

.primary-nav__item {
  display: block;
  margin: 0;
}

.primary-nav__item--active {
}

.primary-nav__item--submenu {
}

.primary-nav__sub-link,
.primary-nav__top-link {
  display: block;
  width: 100%;
  padding: 10px 16px;

  font-family: $font-secondary;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.36s cubic-bezier(0.4, 0, 0.2, 1); /* Fast Out, Slow In */

  &--active,
  &:hover {
    color: $white;
    background-color: $grey-700;
  }
}

.primary-nav__top-link--button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: inherit;
  background: transparent;
  border: 0;
  cursor: pointer;

  & > span {
  }

  & > svg {
    margin-left: 8px;

    vertical-align: middle;
    transition: transform 0.28s;
  }

  &[aria-expanded="true"] {
    color: $white;
    background-color: $grey-700;

    & > svg {
      transform: rotate(180deg);
    }
  }
}

.primary-nav__menu {
  position: relative;

  @media (--bp-global-header-max) {
    position: static;
    width: 100%;
  }
}

.primary-nav__submenu {
  @include zero-list;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z-dropdown;
  display: block;
  min-width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: $grey-700;
  transition: opacity 400ms ease-out, visibility 400ms ease-out;

  @keyframes animateHeightShrink {
    0%,
    99% {
      height: auto;
    }

    100% {
      height: 0;
    }
  }

  @media (--bp-global-header-max) {
    position: relative;
    top: 0;
    height: 0;
    background-color: #fff;
    transition: opacity 500ms ease-out, visibility 500ms ease-out;

    .primary-nav__menu:not(.is-open) & {
      animation: animateHeightShrink 500ms;
    }
  }

  .primary-nav__menu.is-open & {
    visibility: visible;
    opacity: 1;

    @media (--bp-global-header-max) {
      height: auto;
    }
  }
}

.primary-nav__submenu--right {
  right: 0;
  left: unset;
}

.primary-nav__subitem {
  display: block;
  width: 280px;
  margin: 0;

  font-size: 1rem;

  @media (--bp-global-header-max) {
    width: 100%;
  }

  & + & {
    border-top: 1px solid $grey-400;
  }
}

.primary-nav__sub-link {
  color: $white;
  background-color: $grey-700;

  &--active,
  &:hover {
    background-color: $grey-800;
  }
}
