// @import "../../../scss/variables/index";

.primary-nav {
  width: auto;
}

.primary-nav__items {
  @include zero-list;
  display: flex;
  gap: var(--size-4);
  align-items: flex-start;
  flex-wrap: wrap;

  @media (--bp-global-header-max) {
    align-items: stretch;
    flex-direction: column;
  }

  .primary-nav__item:first-child {
    padding-left: 0;
  }

  .primary-nav__item:last-child {
    padding-right: 0;
  }
}

.primary-nav__item,
.search-menu__button {
  margin: 0;
  padding: var(--size-4) clamp(var(--size-2), 1.2vw, var(--size-3));
  position: relative;
  z-index: 0;
  display: flex;
}

.search-menu__button {
  padding-right: 0;
  position: relative;
  z-index: 1;
}

.primary-nav__top-link {
  display: block;
}

.primary-nav__sub-link,
.primary-nav__top-link,
.search-menu__button {
  font: var(--font-ui-labels-ui-md-smb);

  .icon {
    color: var(--color-yellow-300);
  }

  &:hover {
    text-decoration: underline;

    .icon {
      color: var(--color-design-system-white);
    }
  }
}

.primary-nav__sub-link--active,
.primary-nav__top-link--active {
  border-bottom: 2px solid var(--color-yellow-300);
}

.primary-nav__top-link--button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-nav__menu {
  position: relative;

  @media (--bp-global-header-max) {
    position: static;
    width: 100%;
  }
}

.primary-nav__submenu {
  @include zero-list;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z-dropdown;
  display: block;
  min-width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: $grey-700;
  transition: opacity 400ms ease-out, visibility 400ms ease-out;

  @keyframes animateHeightShrink {
    0%,
    99% {
      height: auto;
    }

    100% {
      height: 0;
    }
  }

  @media (--bp-global-header-max) {
    position: relative;
    top: 0;
    height: 0;
    background-color: #fff;
    transition: opacity 500ms ease-out, visibility 500ms ease-out;

    .primary-nav__menu:not(.is-open) & {
      animation: animateHeightShrink 500ms;
    }
  }

  .primary-nav__menu.is-open & {
    visibility: visible;
    opacity: 1;

    @media (--bp-global-header-max) {
      height: auto;
    }
  }
}

.primary-nav__submenu--right {
  right: 0;
  left: unset;
}

.primary-nav__subitem {
  display: block;

  @media (--bp-global-header-max) {
    width: 100%;
  }
}
