@import "../../../scss/variables/index";

$rich-text__video-width: 328px;

.rich-text {
  @include clearfix;
  font-size: 18px;

  .container__col--100 > .rich-text {
    margin-right: auto;
    margin-left: auto;
  }

  /* // all textual element on the page should receive a max-width */
  & > * {
    max-width: var(--max-width, 850px);
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  &--indented > * {
    margin-right: auto;
    margin-left: auto;
  }

  &--centered {
    text-align: center;

    & > ul li,
    & > ol li,
    & > table td {
      text-align: left;
    }
  }

  & > p {
    font-size: inherit;
  }

  & > blockquote {
    font-size: 1.3;
    line-height: 1.6;

    @media (--bp-x-small-max) {
      margin: 20px;
    }
  }

  & > ol,
  & > ul {
    padding-left: 0;

    line-height: 1.6;
    list-style-position: outside;

    li {
      margin-left: 25px;
      padding-left: 10px;

      font-size: inherit;
    }
  }

  & > hr {
    margin-bottom: 1em;
  }

  & > table {
    clear: both;
    margin-top: 45px;
    margin-bottom: 45px;

    caption {
      margin-bottom: 15px;

      font-weight: bold;
    }

    td,
    th {
      min-width: 150px;
    }
  }
}

.rich-text__embed {
  width: 100%;
  max-width: 100%;

  .rich-text--indented & {
    display: flex;
    justify-content: center;
  }

  .image-block__media {
    text-align: center;

    figcaption {
      text-align: left;
    }
  }

  .video-block {
    width: 100%;
  }

  .video-block__media {
    width: 100%;
  }

  &.l-pull-left,
  &.l-pull-right {
    @media (--bp-large-min) {
      max-width: 40%;
      margin-bottom: 30px;

      .video-block,
      .image-block {
        margin-bottom: 0;
      }

      .video-block__caption,
      .image-block__media figcaption {
        padding-bottom: 0;
      }

      .image-block__media {
        border-bottom: 0;
      }

      .video-block,
      .video-block__media {
        /* ** don't use percentages here
        ** embed parent has no explicit width */
        min-width: $rich-text__video-width;
      }

      .video-block__media-placeholder {
        /* ** for consistency, restrain
        ** placeholder image to video width */
        width: $rich-text__video-width;
      }
    }
  }

  &.l-pull-left {
    @media (--bp-large-min) {
      float: left;
      margin-right: 30px;
    }
  }

  &.l-pull-right {
    @media (--bp-large-min) {
      float: right;
      margin-left: 30px;
    }
  }

  .image-block__media {
    img {
      width: auto;
      max-width: 100%;
    }
  }
}

.rich-text__table-wrapper {
  overflow: auto;
}
