@import "../../../scss/variables/index.scss";

.hero {
  position: relative;
  overflow: hidden;

  color: $white;

  &.has-height {
    .background-video {
      height: 100%;
    }
  }
}

.hero__figure {
  height: 100%;
  width: 100%;
  margin: 0;

  @media (--bp-medium-max) {
    position: absolute;
  }

  img,
  video {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
  }

  .background-video {
    height: 100%;
    width: 100%;
  }
}

.hero__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75%;
  width: 100%;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0,0, 0) 3%,
    rgba(0,0,0,0.13) 20%,
    #000 100%
  );
}

.hero__content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  text-align: center;
  transform: translate(0, -50%);

  @media (--bp-medium-max) {
    position: static;
    max-width: 100%;
    padding: 60px;
    transform: translate(0, 0);
  }
}

.hero__title {
  color: $white;
  font-size: 3.5rem;

  @media (--bp-large-max) {
    font-size: 2.2rem;
  }

  @media (--bp-x-small-max) {
    font-size: 1.8rem;
  }
}

.hero__subtitle {
  margin-bottom: 4rem;

  font-family: $secondary-sans;
  font-size: 1.5rem;

  @media (--bp-large-max) {
    margin-bottom: 2rem;

    font-size: 1rem;
  }
}

.hero__action {
  padding: 10px 20px;

  font-size: 1.125rem;
  line-height: 1.5;

  @media (--bp-large-max) {
    font-size: 1rem;
  }
}

/* Hero Themes */
.hero--theme1 {
  color: $white;

  h1 {
    color: $white;
  }

  .btn--primary {
    color: $white;
    background-color: $grey-700;
    border-color: $grey-700;

    &:hover,
    &:focus {
      color: $white;
      background-color: $grey-900;
      border-color: $grey-900;
    }
  }
}

.hero--theme2 {
  color: $grey-700;

  h1 {
    color: $grey-700;
  }

  .btn--primary {
    color: $white;
    background-color: $grey-600;
    border-color: $grey-600;

    &:hover,
    &:focus {
      color: $white;
      background-color: $grey-900;
      border-color: $grey-900;
    }
  }
}

.hero--theme3 {
  color: $grey-600;

  h1 {
    color: $grey-600;
  }

  .btn--primary {
    color: $black;
    background-color: $grey-500;
    border-color: $grey-500;

    &:hover,
    &:focus {
      color: $white;
      background-color: $grey-900;
      border-color: $grey-900;
    }
  }
}

.hero--theme4 {
  color: $grey-500;

  h1 {
    color: $grey-500;
  }

  .btn--primary {
    color: $black;
    background-color: $grey-400;
    border-color: $grey-400;

    &:hover,
    &:focus {
      color: $white;
      background-color: $grey-900;
      border-color: $grey-900;
    }
  }
}
