<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
                   type="Thread.Feature.RichText.Pipelines.RenderField.TokenReplacer, Thread.Feature.RichText" />
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
                   type="Thread.Feature.RichText.Pipelines.RenderField.RenderPlaceholder, Thread.Feature.RichText" />
        <processor patch:after="*[last()]" 
                   type="Thread.Feature.RichText.Pipelines.RenderField.FixEmbeddedContentEditableFields, Thread.Feature.RichText" />
      </renderField>
    </pipelines>
    <processors>
      <saveUI>
        <processor mode="on" patch:after="processor[@type='Sitecore.Pipelines.Save.ParseXml, Sitecore.Kernel']"
                   type="Thread.Feature.RichText.Processors.SaveUI.StripExperienceEditorPlaceholderContent, Thread.Feature.RichText" />
      </saveUI>
    </processors>
    <settings>
      <setting name="HtmlEditor.DefaultProfile" value="/sitecore/system/Settings/Html Editor Profiles/Thread/Rich Text Limited" />
    </settings>
  </sitecore>
</configuration>