<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.RichText" description="RichText" extends="Thread.Base" dependencies="Foundation.*">
          <predicate>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/Rich Text"></include>
            <include name="HtmlEditoreProfiles" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Thread/Rich Text Limited"></include>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/Rich Text"></include>
            <include name="Models" database="master" path="/sitecore/layout/Models/$(layer)/Rich Text"></include>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/$(layer)/Rich Text"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>