<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
                   type="AtriusHealth.Feature.RichText.Pipelines.RenderField.TokenReplacer, AtriusHealth.Feature.RichText" />
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
                   type="AtriusHealth.Feature.RichText.Pipelines.RenderField.RenderPlaceholder, AtriusHealth.Feature.RichText" />
        <processor patch:after="*[last()]" 
                   type="AtriusHealth.Feature.RichText.Pipelines.RenderField.FixEmbeddedContentEditableFields, AtriusHealth.Feature.RichText" />
      </renderField>
    </pipelines>
    <processors>
      <saveUI>
        <processor mode="on" patch:after="processor[@type='Sitecore.Pipelines.Save.ParseXml, Sitecore.Kernel']"
                   type="AtriusHealth.Feature.RichText.Processors.SaveUI.StripExperienceEditorPlaceholderContent, AtriusHealth.Feature.RichText" />
      </saveUI>
    </processors>
    <settings>
      <setting name="HtmlEditor.DefaultProfile" value="/sitecore/system/Settings/Html Editor Profiles/AtriusHealth/Rich Text Limited" />
    </settings>
  </sitecore>
</configuration>
