@import "../../../scss/variables/index.scss";


.site-logo {
  display: flex;
  align-items: center;

  font-family: $font-tertiary;
  font-size: 1.2rem;
  font-weight: bold;

  @media (--bp-large-max) {
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }
}

.site-logo__image {
  display: block;
}

.site-logo__title {
  margin-left: 0.5em;

  @media (--bp-large-max) {
    margin-top: 10px;
    margin-left: 0;

    font-size: 0.95rem;
  }
}
