<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.AX" description="AX" extends="AtriusHealth.Base" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Media" database="master" path="/sitecore/media library/Placeholders/Foundation/AX">
            </include>
            <include name="DefaultRenderingButtons.Properties" database="core" path="/sitecore/content/Applications/WebEdit/Default Rendering Buttons/Properties">
              <exclude children="true" />
            </include>
            <include name="PageEditorButtons" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Page Editor">
              <exclude children="true" >
                <except name="Page"></except>
              </exclude>
            </include>
            <include name="ContextMenues" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default">
              <exclude children="true" >
                <except name="Experience Editor"></except>
                <except name="Preview Item"></except>
                <except name ="Copy Url"></except>
                <except name ="Edit"></except>

              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
