<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:created">
        <handler type="AtriusHealth.Foundation.AX.Events.ItemCreated.InsertItemLastEventHandler, AtriusHealth.Foundation.AX" method="ItemCreated"/>
      </event>
    </events>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.GenerateFieldEditorUrl" type="AtriusHealth.Foundation.AX.SpeakRequests.GenerateFieldEditorUrl, AtriusHealth.Foundation.AX" />
    </sitecore.experienceeditor.speak.requests>
    <pipelines>
      <getChromeData>
        <processor patch:instead="*[@type='Sitecore.Pipelines.GetChromeData.GetEditFrameChromeData, Sitecore.Kernel']" type="AtriusHealth.Foundation.AX.Pipelines.GetChromeData.MultiRootEditFrameChromeData, AtriusHealth.Foundation.AX" resolve="true" />
      </getChromeData>
      <mvc.renderPageExtenders>
        <processor patch:after="*[last()]" type="AtriusHealth.Foundation.AX.Pipelines.RenderPageExtenders.InjectPageEditorResources, AtriusHealth.Foundation.AX">
          <styles hint="list:addStyleResource">
            <tooltip>/Areas/AtriusHealth/css/tooltip.css</tooltip>
          </styles>
          <scripts hint="list:addScriptResource">
						<fontawesome>https://use.fontawesome.com/3aaab6d800.js</fontawesome>
          </scripts>
        </processor>
      </mvc.renderPageExtenders>
      <getLookupSourceItems>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
            type="AtriusHealth.Foundation.AX.Pipelines.GetLookupSourceItems.ResolveRelativeQuerySource, AtriusHealth.Foundation.AX" />
      </getLookupSourceItems>
			<renderContentEditor>
				<processor patch:before="*[1]" type="AtriusHealth.Foundation.AX.Pipelines.RenderContentEditor.InjectContentEditorResources, AtriusHealth.Foundation.AX">
					<styles hint="list:addStyleResource">
						<tooltip>/Areas/AtriusHealth/css/tooltip.css</tooltip>
					</styles>
					<scripts hint="list:addScriptResource">
						<fontawesome>https://use.fontawesome.com/3aaab6d800.js</fontawesome>
					</scripts>
				</processor>
			</renderContentEditor>
    </pipelines>
		<settings>
			<!-- HIDDEN SETTING!  Suggestion from sitecore to speed up the back end content editor. -->
			<setting name="ContentEditor.RenderCollapsedSections" value="false"/>

			<setting name="HtmlEditor.RemoveScripts">
				<patch:attribute name="value">false</patch:attribute>
			</setting>
		</settings>
  </sitecore>
</configuration>
