<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <!--  
        This processor is obsolate, and has been replaced by logic in VR-1442. The code will be removed in a future commit.
        
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
                   type="AtriusHealth.Foundation.ResponsiveImages.Pipelines.RenderField.RenderRetinaImages, AtriusHealth.Foundation.ResponsiveImages" />
                           
        -->
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                   type="AtriusHealth.Foundation.ResponsiveImages.Pipelines.RenderField.RemoveImageSizeAttributes, AtriusHealth.Foundation.ResponsiveImages" />
                   
           
      </renderField>
    </pipelines>
  </sitecore>
</configuration>
