@import "../../../scss/variables/index";

:root {
  --sm-color: var(--color-blue-800);
  --sm-transition: all 1000ms ease-in-out;
  --sm-transform: translate(100%, 0%);
  --sm-min-width: var(--spacing-96);
}

.search-menu {
  display: grid;
  justify-items: end;
  align-items: center;

  .search-menu__button {
    .search-menu__close {
      display: none;
    }

    .search-menu__open {
      display: block;
    }
  }

  .search-menu__inner-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-content-width);
    opacity: 0;
    margin: 0 auto;
    background-color: var(--sm-color);
    transition: var(--sm-transition);
    transform: var(--sm-transform);

    .search-box {
      width: calc(100% - 200px);
    }

    .btn {
      align-self: flex-end;
    }
  }

  .search-menu__drop-down {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    background-color: var(--sm-color);
    transition: var(--sm-transition);
    pointer-events: none;
  }

  .is-open {
    display: none;
  }

  .is-closed {
    display: flex;
  }

  &.is-open {
    .search-menu__inner-container {
      opacity: 1;
      transform: translate(0%, 0%);
    }

    .search-menu__drop-down {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    .search-menu__button {
      .search-menu__open {
        display: none;
      }

      .search-menu__close {
        display: block;
      }
    }

    .search-menu__drop-down {
      visibility: visible;
      opacity: 1;
      transition: var(--sm-transition);
      transform: translate(0%, 0%);
      pointer-events: all;
    }

    .is-open {
      display: flex;
    }

    .is-closed {
      display: none;
    }
  }
}

.search-menu__button {
  min-width: var(--sm-min-width);
  border: 0;
  background: none;
}

.search-menu__container {
  overflow: hidden;

  .search-menu:not(.is-open) {
    visibility: hidden;
  }
}
