@import "../../../scss/variables/index";
 
.search-menu {
  .search-menu__button {
    .search-menu__close {
      display: none;
    }

    .search-menu__open {
      display: block;
    }
  }
 
  .search-menu__inner-container {
    transition: all 1000ms ease-in-out;
    opacity: 0;
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-content-width);
    background-color: var(--color-blue-800);
    transform: translate(100%,0%);
  }
  .search-menu__drop-down{
    transition: all 1000ms ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    background-color: var(--color-blue-800);
    visibility: hidden;
    pointer-events: none;
  }
  &.is-open {
    .search-menu__inner-container {
      opacity: 1;
      transform: translate(0%,0%);
    }
    .search-menu__drop-down{
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    .search-menu__button {
      .search-menu__open {
        display: none;
      }

      .search-menu__close {
        display: block;
      }
    }
 
    .search-menu__drop-down{
      transition: all 1000ms ease-in-out;
      opacity: 1;
      transform: translate(0%,0%);
          visibility: visible;
          pointer-events: all;

    }
  }
}

.search-menu__button {
  min-width: 96px;
  border: 0;
  background: none;
}

.search-menu__container {
  overflow: hidden;

  .search-menu:not(.is-open) {
    visibility: hidden;
    // opacity: 0;
  }
}

 