<?xml version="1.0" encoding="utf-8" ?>

<configuration name="Foundation.Multisite" extends="Thread.Base">
  <metadataGenerator type="Leprechaun.MetadataGeneration.StandardTemplateMetadataGenerator, Leprechaun" singleInstance="true">
					<fieldType id="{BEF10252-EA97-4433-A7E3-D924796E3950}" type="IAuthor" />
	</metadataGenerator>
</configuration>