<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Promo" description="Promo" extends="AtriusHealth.Feature" dependencies="Foundation.*">
          <predicate>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/$(module)"></include>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(module)"></include>
            <include name="Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/AtriusHealth/$(layer)/$(module)"></include>
            <include name="EditFrameButtons" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Child Items with Dynamic Promo"></include>

          </predicate>
        </configuration>
        <configuration name="Feature.Promo.Content" description="Promo" extends="AtriusHealth.Base.Content" dependencies="Feature.Promo">
          <predicate>
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default/$(module)"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
