@using Sitecore.Configuration
@using Sitecore.Data.Items
@using AtriusHealth.Feature.Promo
@using AtriusHealth.Foundation.Mvc.Extensions
@using AtriusHealth.Foundation.PageEditor.Reference
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="component multi-promo container">
  @if (@Html.Sitecore().HasValue(MultiPromoItem.FieldIds.Title.ToString()))
  {
    <h2 class="multi-promo__title txt-h2">@Html.Sitecore().Field(MultiPromoItem.FieldIds.Title.ToString())</h2>
  }
  <section class="multi-promo__items">
    @if (!Model.Item.Children.Any() && Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
      <p>No Promos have been created.</p>
    }
    @foreach (Item child in Model.Item.Children)
    {

      using (Html.EditFrame(child, Constants.EditFrameButtons.ChildItems, "Edit Promo"))
      {
        <div class="multi-promo__promo">
          @Html.Sitecore().Rendering("/sitecore/layout/renderings/feature/promo/promo", new { DataSource = child.ID.ToString(), Parameters = "" })
        </div>
      }
    }
  </section>
</div>
