<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="_ModuleType_._Name_" description="_Name_" extends="_NamespacePrefix_._ModuleType_" dependencies="Foundation.*">

        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
