<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.AtriusHealth" description="AtriusHealth" extends="AtriusHealth.Project" dependencies="Foundation.*,Feature.*,Project.Common">
          <predicate>
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/$(layer)/AtriusHealth Layout"></include>
          </predicate>
        </configuration>
		  <configuration name="Project.AtriusHealth.Content" description="AtriusHealth Project Content" extends="AtriusHealth.Base.Content" dependencies="Project.AtriusHealth">
			  <predicate>
				  <include name="Homepage" database="master" path="/sitecore/content/AtriusHealth">
					  <exclude children="true">
						  <except name="Home" includeChildren="false"/>
						  <except name="Home/Components" includeChildren="false"/>
						  <except name="Home/Error" includeChildren="true"/>
						  <except name="Home/Shared Components" includeChildren="false"/>
						  <except name="Home/Taxonomy" includeChildren="false"/>
						  <except name="Configuration" includeChildren="true"/>
						  
					  </exclude>
				  </include>
			  </predicate>
		  </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
