<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.AtriusHealth" description="AtriusHealth" extends="AtriusHealth.Project" dependencies="Foundation.*,Feature.*,Project.Common">
          <predicate>
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/$(layer)/AtriusHealth Layout"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
