<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Velir.Search.Core.Registrations.CoreRegistrar, Velir.Search.Core" />
    </services>
    <settings>
      <setting name="Velir.Search.ValueSeparator" value=";"/>
      <setting name="Velir.Search.EscapeSequence" value="\"/>
      <setting name="Velir.Search.QueryString.QueryKey" value="q"/>
      <setting name="Velir.Search.QueryString.AllQueryKey" value="qAll"/>
      <setting name="Velir.Search.QueryString.ExactQueryKey" value="qExact"/>
      <setting name="Velir.Search.QueryString.AnyQueryKey" value="qAny"/>
      <setting name="Velir.Search.QueryString.NoneQueryKey" value="qNone"/>
      <setting name="Velir.Search.QueryString.PageIdKey" value="pId"/>
      <setting name="Velir.Search.QueryString.PageKey" value="page"/>
      <setting name="Velir.Search.QueryString.SortKey" value="sortBy"/>
      <setting name="Velir.Search.QueryString.SortByRelevanceValue" value="relevance"/>
      <setting name="Velir.Search.QueryString.SortOrderKey" value="sortOrder"/>
      <setting name="Velir.Search.QueryString.SortAscendingValue" value="asc"/>
      <setting name="Velir.Search.QueryString.SortDescendingValue" value="desc"/>
      <setting name="Velir.Search.QueryString.LoadAllPagesKey" value="loadAllPages"/>
      <setting name="Velir.Search.Facets.ChildGroupTemplates" value="{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}" />
    </settings>
    <pipelines>
      <indexing.getDependencies help="Processors should derive from Sitecore.ContentSearch.Pipelines.GetDependencies.BaseProcessor" role:require="Standalone or ContentManagement">
        <!-- When indexing an item, make sure any items for whom it is a datasource get re-indexed as well -->
        <processor type="Velir.Search.Core.Pipelines.IndexingGetDependencies.GetDatasourceDependencies, Velir.Search.Core"/>
      </indexing.getDependencies>
      <velirSearch.query>
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.GetSearchIndex, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.CreateSearchContext, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.InitializeQuery, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ValidateRequest, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ApplyFiltersToQuery, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ApplyFacetsToQuery, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ApplySortsToQuery, Velir.Search.Core"  />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ApplyPageToQuery, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.FormatResults, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.FormatFacets, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.DisposeSearchContext, Velir.Search.Core" />
      </velirSearch.query>
      <velirSearch.facetQuery>
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.GetSearchIndex, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.CreateSearchContext, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.InitializeQuery, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ApplyFiltersToQuery, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ApplyFacetsToQuery, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.ApplyPageToQuery, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.FormatFacets, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchQuery.DisposeSearchContext, Velir.Search.Core" />
      </velirSearch.facetQuery>
      <velirSearch.applyFilters>
       
        <processor type="Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyKeywordFilter, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyDateBoostFilter, Velir.Search.Core" resolve="true" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyStaticPageFilters, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyRefinementFilters, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyLanguageFilter, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplySiteFilter, Velir.Search.Core" />
        <processor type="Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyFeatureResultFilter, Velir.Search.Core" resolve="true" reusable="false"/>
      </velirSearch.applyFilters>
    </pipelines>
  </sitecore>
</configuration>