<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Enumerations" description="Foundation Enumerations" extends="AtriusHealth.Foundation" dependencies="Foundation.Serialization">
          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
