<!--
	A set of performance optimizations to improve speed and reduce unnecessary tasks.
	
	Should be used everywhere.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete />
        </processor>
      </initialize>

      <httpRequestBegin env:require="!local">
        <processor type="Sitecore.Pipelines.HttpRequest.StartMeasurements, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.HttpRequest.StopMeasurements, Sitecore.Kernel">
          <patch:delete />
        </processor>
      </httpRequestBegin>
    </pipelines>

    <settings env:require="!local">
      <setting name="Counters.Enabled">
        <!-- disable perf counters for a performance boost -->
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>

    <scheduling>
      <agent type="Sitecore.Tasks.CounterDumpAgent">
        <patch:delete />
      </agent>
    </scheduling>
   </sitecore>
</configuration>
