<?xml version="1.0" encoding="utf-8" ?>

<configuration name="Feature.RichText" extends="Thread.Base">
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="Thread.$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/$(layer)/Rich Text" />
  </templatePredicate>
</configuration>