/* general.scss
** Define universal plain tag styles here
** NOTE: No classes or IDs!

** color variables
*/
$base-link-color: $grey-700 !default;
$base-hairline-color: $grey-600 !default;

body {
  /* @media (prefers-color-scheme: dark) {
      background-color: var(--color-green-600);

    } */

  --max-content-width: 360px;

  @media (min-width: 792px) {
    --max-content-width: 744px;
  }

  @media (min-width: 1200px) {
    --max-content-width: 1128px;
  }

  @media (min-width: 1600px) {
    --max-content-width: 1512px;
  }

  font: var(--font-body-body-md);
}

html,
body * {
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

/* body element */

body {
  margin: 0;
}

/* Annotate breakpoints inside body psuedo-selector
** so they may be read by javascript
** More details: https://www.lullabot.com/articles/importing-css-breakpoints-into-javascript
*/

body::before {
  display: none;
  content: "large";

  @media (--bp-large-max) {
    content: "medium";
  }

  @media (--bp-x-small-max) {
    content: "small";
  }
}

/* flexible media */

object,
video {
  display: block;
  max-width: 100%;
}

/* lists */

ol,
ul {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 60px;
  padding: 0;

  li {
    margin-bottom: 10px;
  }
}

/* nested lists */

ul ul,
ol ul,
ol ol,
ul ol {
  margin-top: 10px;
}

/* definition lists */

dl {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 60px;
  padding: 0;

  dd,
  dt {
    margin-bottom: 10px;
  }
}

/* links */

a {
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover {
    color: rgba($base-link-color, 0.7);
  }
}

/* hr */

hr {
  box-sizing: content-box;
  margin: -1px 0 0;
  border-bottom: 1px solid $base-hairline-color;
  border-left: none;
  border-right: none;
  border-top: none;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;

  font-size: 16px;
  border: 1px solid $base-border-color;
}

th {
  background-color: $grey-300;
}

button,
a {
  color: inherit;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
