.theme-dark {
  color: var(--color-design-system-white);
  background-color: var(--color-neutral-900);

  a {
    color: var(--color-design-system-white);
  }

  &.theme-dark--blue {
    background-color: var(--color-blue-800);
  }
}

.theme-light {
  a {
    color: var(--color-neutral-900);
  }

  &.theme-dark--blue {
    background-color: var(--color-blue-800);
  }
}
