@import "../../../scss/variables/index.scss";

.utility-nav__link {
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:not(span):hover {
    border-bottom: 2px solid currentcolor;
  }

  @media (--bp-global-header-max) {
    border: 0;

    &:not(span):hover {
      color: $white;
      background-color: $grey-700;
      border: 0;
    }
  }
}
