@import "../../../../../scss/variables/index.scss";

@keyframes loading-spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-sticky-content;
  height: 100%;
  min-height: 200px;
  width: 100%;
  background-color: rgba($white, 0.5);

  span {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 100vh;

    font-size: 0;

    &::before {
      display: block;
      height: 200px;
      width: 200px;
      border: 16px solid $grey-500;
      border-top-color: $grey-900;
      border-radius: 50%;
      content: "";
      animation-name: loading-spinner;

      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}
