@import "./variables.scss";

// General Breakpoints

// to be used with min-width (preferred over max-width to be "mobile first")
// @media (min-width: $bp-small-min) { ... }
$bp-x-small-min: 470px;
$bp-small-min: 680px;
$bp-medium-min: 780px;
$bp-large-min: 910px;
$bp-x-large-min: $max-width-container;

// to be used with max-width (avoid max-with in favor of min-width)
// @media (max-width: $bp-small-max) { ... }
$bp-x-small-max: ($bp-x-small-min - 1);
$bp-small-max: ($bp-small-min - 1);
$bp-medium-max: ($bp-medium-min - 1);
$bp-large-max: ($bp-large-min - 1);
$bp-x-large-max: ($bp-x-large-min - 1);

// GlobalHeader
$bp-global-header-min: 910px;
$bp-global-header-max: ($bp-global-header-min - 1);
