$gutter: 30px !default;
$gutter-mobile: 15px !default;

$max-width: 1230px !default;
$max-width-container: $max-width + (2 * $gutter);

$max-content-width: $max-width !default;

$multi-image__grid-space: 30px;

$opensans: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$bitter: "Bitter", georgia, "Times New Roman", times, serif;
$montserrat: "Montserrat", "Lucida Grande", helvetica, arial, sans-serif;

$font-primary: $opensans;
$font-secondary: $montserrat;
$font-tertiary: $bitter;

$z-modal: 100 !default;
$z-dropdown: 90 !default;
$z-sticky-content: 80 !default;
