@import "../../../scss/variables/_breakpoints.scss";
@import "../../../scss/variables/_mixins.scss";
@import "../../../scss/variables/_quantity-queries.scss";

$multi-promo__bp-stack: 600px;
$multi-promo__promo-space: 30px;

.multi-promo__items {
  // @include component-whitespace;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$multi-promo__promo-space;
}

.multi-promo__title {
  margin-bottom: 1em;

  @media (max-width: $bp-medium-max) {
    font-size: rem(24);
  }
}

.multi-promo__promo {
  width: 100%;
  margin-left: $multi-promo__promo-space;

  @media (min-width: $bp-large-min) {

    @include exactly(3) {
      width: calc(33.333% - #{$multi-promo__promo-space});
    }
    width: calc(50% - #{$multi-promo__promo-space});
  }

  @media (min-width: $bp-x-small-min) {
    width: calc(50% - #{$multi-promo__promo-space});
  }

  // Broken code found v2.5
  // @media (width: $multi-image__bp-stack) {
  // 	width: 100%;
  // }

  // fix IE flexbox bug to prevent text overflow

  .promo {
    display: block;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

// 70-column
// Broken code found v2.5
// .container--70-30 .container__col:first-child,
// .container--30-70 .container__col:last-child {
//
// 	.multi-promo__promo {
// 		@media (width: $bp-max-large) {
// 			width: 100%;
// 		}
// 	}
// }

// 30-column and 50-column

.container--70-30 .container__col:last-child,
.container--30-70 .container__col:first-child,
.container--50-50 .container__col,
.multi-promo--dynamic {
  .multi-promo__promo {
    width: 100%;
  }
}

.multi-promo--dynamic {
  .promo {
    display: flex;
  }
}
