@import "../../../scss/variables/index";

.multi-promo {
  --multi-promo-title: var(--font-headings-400-heading-d);
  --promo-flex: 100% 0 1;

  @media (--bp-x-small-min) {
    --promo-title: var(--font-headings-1600-800-heading-d);
    --promo-flex: calc(50% - (var(--size-5) / 2)) 0 0;
  }
}

.multi-promo__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-5);

  &:not(* > .text-banner) {
    .promo:first-child:nth-last-child(3),
    .promo:first-child:nth-last-child(3) ~ .promo {
      flex: 100% 0 0 !important;
    }
  }

  .promo {
    flex: var(--promo-flex);
  }

  .text-banner {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

.multi-promo__description {
  margin-block-end: calc(var(--size-10) / 2);
  font: var(--multi-promo-description);
}

.multi-promo__title {
  margin-block-end: var(--size-5);
  font: var(--multi-promo-title);
}
