@import "../../../scss/variables/index";

$multi-promo__bp-stack: 600px;
$multi-promo__promo-space: 30px;

.multi-promo__container {
  display: grid;
  gap: var(--spacing-24);
  max-inline-size: 1128px;
  grid-auto-flow: row;
}

.multi-promo__items--2 {
  grid-template-columns: repeat(auto-fill, 552px);
}

.multi-promo__title {
  margin-bottom: 1em;

  @media (--bp-medium-max) {
    font-size: rem(24);
  }
}

.multi-promo__promo {
  width: 100%;
  margin-left: $multi-promo__promo-space;

  @media (--bp-large-min) {
    @include exactly(3) {
      width: calc(33.333% - #{$multi-promo__promo-space});
    }
    width: calc(50% - #{$multi-promo__promo-space});
  }

  @media (--bp-x-small-min) {
    width: calc(50% - #{$multi-promo__promo-space});
  }
}
