<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="velir:copyItemUrlMenuItem" type="Velir.SitecoreLibrary.Modules.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlMenuItem, Velir.SitecoreLibrary.Modules.ItemUrlHelper" />
			<command name="velir:copyItemUrlSubMenuItem" type="Velir.SitecoreLibrary.Modules.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlSubMenuItem, Velir.SitecoreLibrary.Modules.ItemUrlHelper" />
		</commands>
		<pipelines>
			<search>
				<processor type="Velir.SitecoreLibrary.Modules.ItemUrlHelper.CustomSitecore.Pipeline.ItemResolverByUrl, Velir.SitecoreLibrary.Modules.ItemUrlHelper" />
			</search>
		</pipelines>
	</sitecore>
</configuration>