
<section class="global-footer">
	<div class="container container--100 container--connect">
		<div class="container__col container__col--100">
			@Html.Sitecore().Placeholder("footer-top")
		</div>
	</div>
	<div class="container container--100">
		<div class="container__col container__col--100">
			<div class="global-footer__bottom">
				@Html.Sitecore().Placeholder("footer-bottom")
			</div>
		</div>
	</div>
</section>
