@{
    Layout = null;
}
<div class="skip-navigation__wrapper">
    <a href="#main-content" class="skip-navigation u-visuallyhidden js-skip-navigation">@Thread.Foundation.Dictionary.Repositories.Dictionary.Current.Get("Navigation.SkipLink.LabelText")</a>
</div>
