<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Listing" description="Listings" extends="Thread.Feature" dependencies="Foundation.*">
          <predicate>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/$(module)"></include>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(module)"></include>
            <include name="Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Thread/$(layer)/$(module)"></include>
            <include name="EditFrame" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/$(module)"></include>
          </predicate>
        </configuration>
        <configuration name="Feature.Listing.Content" description="Listing" extends="Thread.Base.Content" dependencies="Feature.Listing">
          <predicate>
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default/$(module)"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>