@import "../../../scss/variables/index";

.connect {
  margin-bottom: 64px;
}

.connect__inner {
  display: block;
}

.connect__newsletter {
  .sc-form__message {
    margin-bottom: var(--spacing-24);
    font: var(--body-lg);
  }

  .sc-form-item {
    margin-top: 0;
  }

  .sc-form-item {
    margin-bottom: var(--spacing-24);
  }

  .sc-form__button-row {
    margin-top: 0;
  }
}

.connect__promo-statement {
  margin-bottom: var(--spacing-24);
  font: var(--heading-e);
}

.connect__social {
  white-space: nowrap;
}
