@import "../../../scss/variables/index";

.connect {
  max-width: 360px;
  margin-bottom: var(--size-9);
}

.connect__inner {
  display: block;
}

.connect__newsletter {
  .sc-form__message {
    margin-bottom: var(--size-5);
    font: var(--body-lg);
  }

  .sc-form-item {
    margin-top: 0;
  }

  .sc-form-item {
    margin-bottom: var(--size-5);
  }

  .sc-form__button-row {
    margin-top: 0;
  }
}

.connect__promo-statement {
  margin-bottom: var(--size-5);
  font: var(--heading-e);
}

.connect__social {
  white-space: nowrap;
}
