@import "../../../scss/variables/index";

$copyright-symbol-size: 14px !default;
$copyright-text-size: 14px !default;

.copyright {
  display: inline-block;
  margin: 0;
  padding: 0;
  font: var(--font-ui-labels-ui-xsm-smb);
}

.copyright__symbol {
  display: inline-block;
  font-size: $copyright-symbol-size;
  vertical-align: top;
}
