@import "../../../scss/variables/index.scss";

$copyright-symbol-size: 14px !default;
$copyright-text-size: 14px !default;

.copyright {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: $copyright-text-size;
  line-height: $copyright-symbol-size;
}

.copyright__symbol {
  display: inline-block;
  font-size: $copyright-symbol-size;
  vertical-align: top;
}
