@import "../../../scss/variables/index";

.footer-nav {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: flex-start;

  @media (--bp-x-small-max) {
    display: block;
  }
}

.footer-nav__section {
}

.footer-nav__col {
  @include zero-list;

  li:not(:last-child) {
    margin-bottom: var(--spacing-24);
  }

  a {
    font: var(--label-ui-md-smb);
  }
}

.footer-nav__heading {
  margin-bottom: var(--spacing-24);
  font: var(--heading-e);
}
