@import "../../../scss/variables/index";

.footer-nav {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--bp-x-small-max) {
    display: block;
  }
}

.footer-nav__section {
  margin-right: 32px;
  margin-bottom: 32px;
}

.footer-nav__col-wrapper {
  display: flex;

  @media (--bp-x-small-max) {
    display: block;
  }
}

.footer-nav__col {
  @include zero-list();
  margin-right: 24px;

  @media (--bp-x-small-max) {
    display: block;
    width: 100%;
  }
}

.footer-nav__heading {
  width: 100%;
  font-size: 1.35rem;
}
