@import "../../../scss/variables/index";

.footer-links {
  font: var(--font-ui-labels-ui-xsm-smb);
  text-transform: capitalize;

  ul {
    @include zero-list;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--size-5);

    @media (--bp-1200) {
      margin-top: 0;
    }
  }

  li {
    flex: 1 0 50%;
    @media (--bp-800) {
      display: inline;
      flex: initial;
      margin-right: var(--size-7);
    }
  }

  a[target="_blank"] {
    @include iconAfterLink($icon);
    position: relative;
    padding-right: var(--size-3);
    fill: var(--color-yellow-primary);

    &::after {
      top: -2px;
    }
  }
}
