@import "../../../scss/variables/index";

.footer-links {
  ul {
    @include zero-list();
    text-align: right;

    @media (--bp-large-max) {
      text-align: center;
    }
  }

  li {
    display: inline;
    margin-left: 16px;
  }
}
