@import "../../../scss/variables/index";

:root {
  --gf-padding: calc(var(--size-10) / 2) var(--size-5);
}

.global-footer {
  color: var(--color-design-system-white);

  background: var(--color-blue-800);

  a:hover {
    color: currentcolor;
    text-decoration: underline;
    text-underline-offset: var(--size-1);
  }

  .global-footer__container {
    width: 100%;
    max-width: $bp-1600;
    margin: auto;
    padding: var(--gf-padding);

    @media (--bp-1600) {
      padding: var(--size-10) var(--spacing-108);
    }
    @media (--bp-1200) and (--bp-1600-max) {
      padding: var(--size-10) var(--spacing-156);
    }
    @media (--bp-800) and (--bp-1200-max) {
      padding: var(--size-9) var(--size-8);
    }

    // @media (--bp-1600) {
    //   --gf-padding: var(--size-10) var(--spacing-108);
    // }
    // @media (--bp-1200) and (--bp-1600-max) {
    //   --gf-padding: var(--size-10) var(--spacing-156);
    // }
    // @media (--bp-800) and (--bp-1200-max) {
    //   --gf-padding: var(--size-9) var(--size-8);
    // }
  }

  .global-footer__row {
    display: block;

    @media (--bp-1200) {
      display: flex;
    }
  }

  .global-footer__row__bottom {
    @media (--bp-1200) {
      gap: var(--size-7);
    }
  }

  .global-footer__row__top {
    @media (--bp-1200) {
      gap: var(--size-5);
      justify-content: space-between;
      margin-bottom: var(--size-10);
    }
  }

  .global-footer__nav {
    &--desktop {
      display: none;
      @media (--bp-1200) {
        display: flex;
      }
    }

    &--mobile {
      display: block;
      margin-bottom: calc(var(--size-10) / 2);
      @media (--bp-1200) {
        display: none;
      }
    }
  }

  .copyright,
  .footer-links {
    display: block;
  }
}
