@import "../../../scss/variables/index";

.global-footer {
  color: var(--color-design-system-white);

  background: var(--color-blue-800);

  a:hover {
    color: currentcolor;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .global-footer__container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 40px 24px;

    @media (min-width: 1600px) {
      padding: 80px 108px;
    }
    @media (min-width: 1200px) and (max-width: 1599px) {
      padding: 80px 156px;
    }
    @media (min-width: 800px) and (max-width: 1199px) {
      padding: 65px 45px;
    }
  }

  .global-footer__row {
    display: block;

    @media (min-width: 1200px) {
      display: flex;
    }
  }

  .global-footer__row__bottom {
    @media (min-width: 1200px) {
      gap: var(--spacing-32);
    }
  }

  .global-footer__row__top {
    @media (min-width: 1200px) {
      gap: var(--spacing-24);
      justify-content: space-between;
      margin-bottom: var(--spacing-80);
    }
  }

  .global-footer__nav {
    &--desktop {
      display: none;
      @media (min-width: 1200px) {
        display: flex;
      }
    }

    &--mobile {
      display: block;
      margin-bottom: 40px;
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  .copyright,
  .footer-links {
    display: block;
  }

  @media (min-width: 1200px) {
  }
}
