.social-links {
  ul {
    display: flex;
    gap: var(--size-2);
    margin: 0;
    list-style: none;
  }

  li {
    margin-bottom: 0;

    a:hover,
    a:focus {
      border-color: transparent;
    }
  }

  &.social-links--vertical {
    ul {
      flex-wrap: wrap;
    }

    li {
      flex: 100%;
    }
  }
}
