<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="enableItemLanguageFallback" value="true" />
    </settings>
    <pipelines>
      <interfaceFactory>
        <processor patch:before="*[1]" type="AtriusHealth.Feature.Navigation.Pipelines.InterfaceFactory.PrimaryNavigationCategoryIContextualLinkableProcessor,AtriusHealth.Feature.Navigation" />
        <processor patch:before="*[1]" type="AtriusHealth.Feature.Navigation.Pipelines.InterfaceFactory.LinkItemIContextualLinkableProcessor,AtriusHealth.Feature.Navigation" />
      </interfaceFactory>
    </pipelines>
  </sitecore>
</configuration>
