<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Forms" extends="Thread.Base" dependencies="Foundation.*">
          <predicate>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/$(module)"></include>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/$(layer)/$(module)"></include>
          </predicate>
        </configuration>
        <configuration name="Feature.Forms.Content" description="Forms" extends="Thread.Base.Content" dependencies="Feature.Forms">
          <predicate>
            <include name="Forms" database="master" path="/sitecore/Forms">
              <exclude children="true">
                <except name="Contact Us" />
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
