<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
	  <services>
	    <configurator type="Thread.Foundation.Aliases.DependencyInjection.Registrar, Thread.Foundation.Aliases" />
	  </services>
    <pipelines>
      <httpRequestBegin>
        <processor patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.AliasResolver, Sitecore.Kernel']" 
                   type="Thread.Foundation.Aliases.Pipelines.HttpRequestBegin.AliasResolver,Thread.Foundation.Aliases" resolve="true" />
      </httpRequestBegin>
    </pipelines>
	</sitecore>
</configuration>
