<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Dictionary" description="Dictionary" extends="AtriusHealth.Base" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/System/Dictionary">
              <exclude children="true" >
                <except name="Dictionary Domain" includeChildren="false"/>
                <except name="Dictionary entry" includeChildren="false"/>
                <except name="Dictionary folder" includeChildren="false"/>
              </exclude>
            </include>
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default">
              <exclude children="true" />
            </include>
            <include name="ContentEditor" database="core" path="/sitecore/content/Applications/Content Editor/Applications/Dictionary">
              <exclude children="true" />
            </include>
            <include name="ExperienceEditorRippons" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/View/Show/Show Dictionary Items">
              <exclude children="true" />
            </include>
            <include name="ExperienceEditorEditButtons" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Dictionary">
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
