@using AtriusHealth.Foundation.Mvc.Extensions
@using AtriusHealth.Foundation.PageEditor.Reference
@using StringExtensions = AtriusHealth.Foundation.Dictionary.Extensions.StringExtensions

@model IEnumerable<AtriusHealth.Feature.Navigation.LinkItem>

@if (Model != null)
{
	<nav class="footer-links" aria-label="@StringExtensions.Translate("Footer Utility")" >
		<ul>
			@foreach (var link in Model)
			{
				if (Html.Sitecore().HasValueOrEditing(link.Link))
				{
					<li>
						@using (Html.EditFrame(link, Constants.EditFrameButtons.ChildItems, "Edit Item"))
						{
							@Html.Sitecore().Field(link.Link)
						}
					</li>
				}
			}
		</ul>
	</nav>
}
