<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler type="Thread.Foundation.Branching.Events.ItemAdded.RelocateDatasourceItemsFromBranch, Thread.Foundation.Branching" method="OnItemAdded" patch:after="processor[@type='Sitecore.Data.Fields.ItemEventHandler, Sitecore.Kernel']">
        </handler>
				<handler type="Thread.Foundation.Branching.Events.ItemAdded.RelocateSingleLinkedItemsFromBranch, Thread.Foundation.Branching" method="OnItemAdded" patch:after="processor[@type='Sitecore.Data.Fields.ItemEventHandler, Sitecore.Kernel']">
				</handler>
				<handler type="Thread.Foundation.Branching.Events.ItemAdded.RelocateMultipleItemsFromBranch, Thread.Foundation.Branching" method="OnItemAdded" patch:after="processor[@type='Sitecore.Data.Fields.ItemEventHandler, Sitecore.Kernel']">
				</handler>
      </event>
    </events>
		<settings>
			<setting name="Thread.Foundation.Branching.SingleItemLinkedFieldTypes" value="Droplink|Droptree" />
			<setting name="Thread.Foundation.Branching.MultipleItemLinkedFieldTypes" value="Multilist|Multilist with Search|Treelist|Treelist with Search|TreelistEx" />
		</settings>
  </sitecore>
</configuration>