@import "../../../scss/variables/index";

/* Define global header styles here */
$global-header__bottom-space: 30px;

/* base */

.global-header {
  position: relative;

  .language-selector {
    display: block;
    margin-top: 0;
  }

  .site-logo {
    padding: 20px 0;

    img {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
    }

    @media (--bp-large-min) {
      padding: 16px 0;
    }
  }
}

.global-header__container.container {
  position: static;
}

.global-header__desktop {
  @media (--bp-global-header-max) {
    display: none;
  }
}

.global-header__top-container {
  display: flex;
  justify-content: space-between;

  > div {
    width: 100%;
  }

  @media (--bp-global-header-max) {
    width: 100%;
  }
}

.global-header__utility-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  * {
    flex-basis: auto;
  }
}

.global-header__bottom {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.global-header__bottom-right {
  display: flex;
  align-items: flex-start;
}

.global-header__bottom-left {
  flex: auto;
}

.global-header__search-form {
  /* responsive layout */
  @media (max-width: 740px) {
    display: block;
  }

  @media (max-width: 560px) {
    width: 90%;
  }
}

.global-header__mobile {
  display: flex;
  align-items: center;

  @media (--bp-global-header-min) {
    display: none;
  }

  .mobile-menu {
    .mobile-menu__button .mobile-menu__label-open,
    .mobile-menu__button .mobile-menu__label-close {
      display: none;
    }
  }

  .search-menu {
    margin-left: auto;
  }
}
