@import "../../../scss/variables/index";

/* Define global header styles here */
$global-header__bottom-space: 30px;

/* base */

.global-header {
  --global-header-max-width: var(--max-content-width);
  position: relative;

  // overflow: hidden;

  @media (--bp-large-min) {
    --global-header-max-width: 1130px;
  }

  .language-selector {
    display: block;
    margin-top: 0;
  }

  .site-logo {
    padding: 20px 0;

    img {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
    }

    @media (--bp-large-min) {
      padding: 16px 0;
    }
  }
}

.global-header__bottom-container,
.global-header__top-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--size-4);
  justify-content: space-between;
  width: 100%;
  max-width: var(--global-header-max-width);
  margin: 0 auto;
  padding: 0 var(--size-7);
}

.global-header__container.container {
  position: static;
}

.global-header__top-container {
  > div {
    width: 100%;
  }
}

.global-header__utility-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  * {
    flex-basis: auto;
  }
}

.global-header__bottom {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-neutral-100);
}

.global-header__bottom-right {
  display: flex;
  align-items: flex-start;
}

.global-header__bottom-left {
  flex: auto;
}

.global-header__search-form {
  /* responsive layout */
  @media (max-width: 740px) {
    display: block;
  }

  @media (max-width: 560px) {
    width: 90%;
  }
}

.global-header__desktop {
  @media (--bp-global-header-max) {
    display: none;
  }

  .primary-nav__top-link,
  .search-menu__button {
    &:focus,
    &:focus-within {
      outline: 2px solid var(--color-yellow-primary);
    }
  }

  .is-open,
  .primary-nav__item--active {
    button.primary-nav__top-link {
      box-shadow: 0 4px 0 var(--color-yellow-primary);
    }
  }

  a.primary-nav__top-link:hover {
    text-decoration: none;
    box-shadow: 0 4px 0 var(--color-blue-800);
  }

  .primary-nav__submenu__subitem {
    &:not(:last-child) {
      border-right: thin solid var(--color-neutral-200);
    }
  }

  .primary-nav__top-link,
  .search-menu__button {
    @media (max-width: 1080px) {
      font-size: 1rem;
    }
  }
}

.global-header__mobile {
  display: grid;
  align-items: center;
  grid-template-columns: auto 123px;
  justify-items: start;

  @media (--bp-global-header-min) {
    display: none;
  }

  button.primary-nav__top-link {
    padding: 0;
  }

  .mobile-menu {
    .mobile-menu__button .mobile-menu__label-open,
    .mobile-menu__button .mobile-menu__label-close {
      display: none;
    }
  }

  .primary-nav__submenu__container {
    display: flex;
    flex-wrap: wrap;
  }

  .primary-nav__submenu__subitem {
    @media screen and (max-width: 525px) {
      margin-bottom: 40px;
      margin-top: 0;
    }
    @media screen and (min-width: 680px) {
      flex: calc(50% - (var(--spacing-24) / 2)) 0 0;
    }

    &:first-child {
      @media screen and (max-width: 525px) {
        margin-top: 50px;
        padding-bottom: 40px;

        border-bottom: thin solid var(--color-neutral-200);
      }
    }

    &:last-child {
      @media screen and (max-width: 525px) {
        margin-top: -8px;
      }
    }

    &:not(:last-child) {
      @media screen and (min-width: 526px) {
        border-right: thin solid var(--color-neutral-200);
      }
    }

    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ & {
      margin-top: 50px;
      margin-bottom: 0;
      padding-bottom: 40px;
      flex: 100% 0 0 !important;
      border-right: none;
      border-bottom: thin solid var(--color-neutral-200);
    }
  }
}
