<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.CascadedRenderings" description="Cascaded Renderings" extends="Thread.Base" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/Cascaded Renderings"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>