/* icons.scss
** Define icon styles here

** base

** icon styles
** best viewed at 16, 24, 36, and 48

** reducing styles on the base `icon` to make it easier to override
*/
.icon {
  display: inline-block;
  height: var(--size-3);
  width: var(--size-3);
  vertical-align: middle;
  fill: currentcolor;
}

.icon--24x24 {
  height: var(--size-5);
  width: var(--size-5);
}

.icon--36x36 {
  height: var(--spacing-36);
  width: var(--spacing-36);
}

.icon--48x48 {
  height: var(--size-8);
  width: var(--size-8);
}

.icon--black {
  color: var(--color-neutral-900);
}

.icon--white {
  color: var(--color-design-system-white);
}

.icon--gray {
  color: var(--color-neutral-200);
}

.icon--special {
  color: var(--color-yellow-primary);
}
