/* icons.scss
// Define icon styles here

// base

// icon styles
// best viewed at 16, 24, 36, and 48

// reducing styles on the base `icon` to make it easier to override
*/
.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  fill: currentcolor;
}

.icon--24x24 {
  height: 24px;
  width: 24px;
}

.icon--36x36 {
  height: 36px;
  width: 36px;
}

.icon--48x48 {
  height: 48px;
  width: 48px;
}

.icon--black {
color:var(--color-neutral-900);
}

.icon--white {
color: var(--color-design-system-white);
}

.icon--special {
color: var(--color-yellow-primary)
}
