<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="Solr">
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_content">
                <patch:attribute name="type">Velir.Search.Core.ComputedFields.VisualizationField,Velir.Search.Core</patch:attribute>
              </field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <pipelines>
      <velirSearch.applyFilters>
	      <processor patch:instead="*[@type='Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyKeywordFilter, Velir.Search.Core']" type="Thread.Foundation.Search.Pipelines.VelirSearchApplyFilters.ApplyKeywordFilter, Thread.Foundation.Search" resolve="true" />
	      <processor patch:instead="*[@type='Velir.Search.Core.Pipelines.VelirSearchApplyFilters.ApplyDateBoostFilter, Velir.Search.Core']" type="Thread.Foundation.Search.Pipelines.VelirSearchApplyFilters.ApplyDateBoostFilter, Thread.Foundation.Search" resolve="true" />
      </velirSearch.applyFilters>
    </pipelines>
    <services>
      <configurator patch:after="*[@type='Velir.Search.Core.Registrations.CoreRegistrar, Velir.Search.Core']" type="Velir.Search.Solr.Registrations.SolrRegistrar, Velir.Search.Solr" />
    </services>
    <settings>
      <setting name="Velir.Search.MinimumSimilarity" value="100000"/>
    </settings>
  </sitecore>
</configuration>