@model AtriusHealth.Feature.Containers.Models.FullBleedContainerModel

<section class="container container--bleed " id="@Model.ContainerId" >
        @Html.Sitecore().DynamicPlaceholder("full-width-column")
</section>
