
<section class="container container--50-50">
    <div class="container__col container__col--50 container__col--left">
        @Html.Sitecore().DynamicPlaceholder("50-50-left-column")
    </div>
    <div class="container__col container__col--50 container__col--right">
        @Html.Sitecore().DynamicPlaceholder("50-50-right-column")
    </div>
</section>
