
<section class="container container--70-30">
    <div class="container__col container__col--70 container__col--left">
        @Html.Sitecore().DynamicPlaceholder("primary-column-left")
    </div>
    <div class="container__col container__col--30 container__col--right">
        @Html.Sitecore().DynamicPlaceholder("secondary-column-right")
    </div>
</section>
