
<section class="global-footer">
	<div class="container container--100">
		<div class="container__col container__col--100">
			@Html.Sitecore().Placeholder("footer-top")
			<div class="global-footer__bottom">
				<div class="global-footer__bottom-left">
					@Html.Sitecore().Placeholder("footer-bottom-left")
				</div>
				<div class="global-footer__bottom-right">
					@Html.Sitecore().Placeholder("footer-bottom-right")
				</div>
			</div>
		</div>
	</div>
</section>
