<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel"/>
  </configSections>
  <sitecore>
    <settings>
      <setting name="AtriusHealth.RichText.VideoEmbedUrl" value="https://www.youtube.com/embed/{0}"/>
    </settings>
  </sitecore>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
