<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor type="Thread.Foundation.PageEditor.Pipelines.GetRenderingDatasource.CreateRelativeComponentRoots,Thread.Foundation.PageEditor" patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
        <processor type="Thread.Foundation.PageEditor.Pipelines.GetRenderingDatasource.AddRelativeComponentRoots,Thread.Foundation.PageEditor" patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
        <processor type="Thread.Foundation.PageEditor.Pipelines.GetRenderingDatasource.GetDatasourceLocation,Thread.Foundation.PageEditor" patch:instead="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
      </getRenderingDatasource>
    </pipelines>
    <fieldTypes>
      <fieldType name="Datasource">
        <patch:attribute name="type">Thread.Foundation.PageEditor.FieldTypes.DatasourceField,Thread.Foundation.PageEditor</patch:attribute>
      </fieldType>
    </fieldTypes>
  </sitecore>
</configuration>