<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.PageEditor" description="Page Editor" extends="AtriusHealth.Base" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/Page Editor"></include>
            <include name="EditFrameButtons" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons">
              <exclude children="true">
                <except name="Child Items" />
                <except name="Child Items with Insert" />
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
