<!--
   

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Sitecore.Solution.Framework Root items" extends="AtriusHealth.Base">
          <predicate>

            <!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->
          
            <!--Core-->
            <include name="CustomXP" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/AtriusHealth">
              <exclude children="true" >
                <except name="Feature" includeChildren="false"/>
              </exclude>
            </include>
            <include name="HTMLEditorProfiles" database="core" path="/sitecore/system/Settings/Html Editor Profiles/AtriusHealth">
              <exclude children="true" />
            </include>
            
            <!-- Templates -->
            <include name="Templates.Velir" database="master" path="/sitecore/templates/Velir">
              <exclude children="true" />
            </include>

            <!-- Media -->
            <include name="Placeholders" database="master" path="/sitecore/media library/Placeholders">
              <exclude children="true" >
                <except name="Foundation" includeChildren="false"/>
                <except name="Feature" includeChildren="false"/>
              </exclude>
            </include>

            <include name="Thumbnails" database="master" path="/sitecore/media library/Thumbnails">
              <exclude children="true" >
                <except name="Feature" includeChildren="false"/>
              </exclude>
            </include>

            <include name="Logos" database="master" path="/sitecore/media library/Logos">
              <exclude children="true">
                <except name="Feature" includeChildren="false"/>
              </exclude>
            </include>            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
