/* This file is using the `_` so it can be included earlier in the bundle to make overrides easier */
@import "../../../scss/variables/index.scss";

.btn {
  display: inline-block;
  padding: 6px 9px;
  font: var(--label-ui-md-smb);

  /* Prevent button from inheriting line-height */
  vertical-align: middle;
  background: black;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s;
  cursor: pointer;
  @media (--bp-medium-min) {
    font: var(--label-ui-md-smb);
  }

  &:hover {
  }

  &:active {
  }
}

.btn--disabled,
.btn[disabled="true"] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

/* modifiers
 ** primary */

.btn--primary {
  &:hover {
  }

  &:active {
  }
}

/* primary and disabled */

.btn--primary.btn--disabled {
  opacity: 0.3;
}

/* primary and ghost */

.btn--primary.btn--ghost {
  &:hover {
  }

  &:active {
  }
}

/* // secondary */

.btn--secondary {
  &:hover {
  }

  &:active {
  }
}

/* // secondary and disabled */

.btn--secondary.btn--disabled {
  opacity: 0.35;
}

/* // link and reset */

.btn--link,
.btn--reset {
  letter-spacing: 0;
  text-decoration: underline;
  text-transform: unset;
  background-color: transparent;
  border: 0;

  &:active,
  &:hover {
    text-decoration: none;
    background-color: transparent;
  }

  &[disabled] {
  }
}

/* // cancel */

.btn--cancel {
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }

  &:active {
  }

  &[disabled] {
    text-decoration: none;
    cursor: default;
  }
}

/* // disabled */

.btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* // ghost */

.btn--ghost {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  &:active {
  }
}

/* // btn tags */

.btn--tag {
  padding: 2px 4px;

  font-weight: bold;

  .icon {
    height: 16px;
    width: 16px;
    margin-left: 4px;
    transition: fill 0.35s;
  }

  &:hover {
    .icon {
    }
  }
}

/* // btn sorts */

.btn--sort {
  overflow: hidden;
  background-color: transparent;
  border: 0;
}

/* // btn icon group */

.btn--icon-group {
  position: relative;
  padding-right: 24px;

  .btn_icon-group {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    .icon {
      position: absolute;
      right: 0;
      height: 1.846em;
      max-height: 24px;
      width: 1.846em;
      max-width: 24px;
      visibility: visible;
      opacity: 1;
      fill: currentcolor;
      transition: opacity 0.35s;

      &:first-child {
        bottom: 35%;
        transform: translateY(35%);
      }

      &:last-child {
        top: 35%;
        transform: translateY(-35%);
      }
    }
  }
}

.btn--close {
  position: relative;
  height: 40px;
  width: 40px;
  background: none;
  border: 0;

  &::before,
  &::after {
    position: absolute;
    top: 45%;
    left: 10%;
    display: block;
    height: 2px;
    width: 80%;

    content: "";
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  &:active,
  &:hover {
    background: transparent;
  }
}
