/* This file is using the `_` so it can be included earlier in the bundle to make overrides easier */
@import "../../../scss/variables/index";

:root {
  --btn-yellow: var(--color-yellow-primary);
  --btn-dyellow: var(--color-yellow-300);
  --btn-blue: var(--color-blue-800);
  --btn-white: var(--color-design-system-white);
  --btn-grey: var(--color-neutral-300);
  --btn-dgrey: var(--color-neutral-900);
  --btn-lgrey: var(--color-yellow-100);
}

.btn {
  --btn-border-radius: var(--spacing-100);
  --btn-padding: calc(var(--size-5) / 2) var(--size-5);
  --btn-font: var(--font-ui-labels-ui-md-smb);
  --btn-label-margin-inline: var(--size-2);
  --btn-icon: var(--size-5);
  --btn-icon-height: var(--size-8);
  --btn-icon-width: var(--size-8);
  --btn-margin-inline: var(--btn-label-margin-inline);
  --btn-border: calc(var(--size-1) / 2) solid transparent;
  --btn-underline-offset: var(--spacing-6);
  --btn-underline-thick: 1px;
  --btn-display: inline-block;
  display: var(--btn-display);
  padding: var(--btn-padding);
  font: var(--btn-font);
  text-decoration: none;
  vertical-align: middle;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  background: var(--color-green-500);
  transition: color 0.35s, background-color 0.35s, border-color 0.35s;
  cursor: pointer;

  &:not(.btn--icon) {
    .btn__label {
      margin-inline: var(--btn-margin-inline);
      font: var(--btn-font);
      vertical-align: middle;
    }
  }

  .icon {
    height: var(--btn-icon);
    width: var(--btn-icon);
  }

  &.btn--xsm {
    --btn-padding: var(--size-2) var(--spacing-12);
    --btn-font: var(--font-ui-labels-ui-xsm-smb);
    --btn-underline-offset: var(--size-1);
  }

  &.btn--xxsm {
    --btn-padding: var(--size-1) var(--spacing-10);
    --btn-font: var(--font-ui-labels-ui-xxsm-med);
    --btn-icon: var(--size-3);
    --btn-underline-offset: calc(var(--size-1) / 2);
  }

  &.btn--small {
    --btn-icon-height: var(--size-7);
    --btn-icon-width: var(--size-7);
  }

  &.btn--icon {
    --btn-padding: 0;
    --btn-icon: var(--size-3);
    --btn-display: inline-grid;
    --btn-border-radius: var(--radius-round);
    --btn-margin-inline: 0;
    align-content: center;
    justify-content: center;
    height: var(--btn-icon-height);
    width: var(--btn-icon-width);

    .global-footer .social-links & {
      --btn-icon: var(--size-5);
      background-color: var(--color-yellow-50);
    }
  }

  &.btn--no-padding {
    padding-right: 0;
    padding-left: 0;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: var(--btn-underline-thick);
    text-underline-offset: var(--btn-underline-offset);
  }

  &:active {
    text-decoration: underline;
    text-decoration-thickness: var(--btn-underline-thick);
    text-underline-offset: var(--btn-underline-offset);

    .icon {
      transform: rotate(180deg);
    }
  }

  &.btn--disabled,
  &[disabled],
  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

/* modifiers
 ** filled dark */

.btn--filled.btn--light {
  color: var(--btn-white);
  background: var(--btn-blue);

  .icon {
    color: var(--btn-yellow);
  }

  &:hover {
    color: var(--btn-blue);
    background: var(--btn-yellow);

    .icon {
      color: var(--btn-blue);
    }
  }

  &:active {
    color: var(--btn-white);
    background: var(--btn-blue);

    .icon {
      color: var(--btn-yellow);
    }
  }

  &.btn--disabled,
  &[disabled],
  &:disabled {
    color: var(--btn-grey);
    background: var(--btn-white);

    .icon {
      color: var(--btn-grey);
    }
  }
}

/* // filled light */

.btn--filled.btn--dark {
  color: var(--btn-dgrey);
  background: var(--btn-yellow);

  .icon {
    color: var(--btn-dgrey);
  }

  &:hover {
    color: var(--btn-blue);
    background: var(--btn-white);

    .icon {
      color: var(--btn-yellow);
    }
  }

  &:active {
    color: var(--btn-dgrey);
    background: var(--btn-lgrey);

    .icon {
      color: var(--btn-dgrey);
    }
  }

  &.btn--disabled,
  &[disabled],
  &:disabled {
    color: var(--btn-grey);
    background: var(--btn-white);

    .icon {
      color: var(--btn-grey);
    }
  }
}

/* // outline light */

.btn--outline.btn--light {
  color: var(--btn-dgrey);
  border-color: var(--btn-dgrey);
  background-color: transparent;

  .icon {
    color: var(--btn-yellow);
  }

  &:hover {
    border-color: var(--btn-yellow);
    background-color: var(--btn-yellow);

    .icon {
      color: var(--btn-blue);
    }
  }

  &:active {
    color: var(--btn-white);
    border-color: var(--btn-blue);
    background-color: var(--btn-blue);
  }

  &.btn--disabled,
  &[disabled],
  &:disabled {
    color: var(--btn-grey);
    border-color: var(--btn-grey);

    .icon {
      color: var(--btn-grey);
    }
  }
}

/* // outline dark */

.btn--outline.btn--dark {
  color: var(--btn-white);
  border-color: var(--btn-yellow);
  background-color: transparent;

  .icon {
    color: var(--btn-yellow);
  }

  &:hover {
    color: var(--btn-blue);
    border-color: transparent;
    background-color: transparent;
  }

  &:active {
    color: var(--btn-blue);
    border-color: var(--btn-yellow);
    background-color: var(--btn-yellow);
  }

  &.btn--disabled,
  &[disabled],
  &:disabled {
    color: var(--btn-grey);
    border-color: var(--btn-grey);

    .icon {
      color: var(--btn-grey);
    }
  }
}

.btn--link {
  --btn-font: var(--font-ui-labels-ui-md-smb);

  border: none;
  background-color: transparent;

  &.btn--light {
    color: var(--btn-blue);

    .icon {
      color: var(--btn-yellow);
    }

    &:hover {
      .icon {
        color: var(--btn-blue);
      }
    }

    &[disabled] {
      color: var(--btn-grey);

      .icon {
        color: var(--btn-grey);
      }
    }
  }

  &.btn--dark {
    color: var(--btn-white);

    .icon {
      color: var(--btn-dyellow);
    }

    &:hover {
      .icon {
        color: var(--btn-white);
      }
    }

    &[disabled] {
      color: var(--btn-grey);

      .icon {
        color: var(--btn-grey);
      }
    }
  }
}
