@import "../../../scss/variables/index";
:root {
  --promo-background-color: var(--color-design-system-white);
  --promo-color: var(--color-neutral-900);
  --promo-text-align: left;
  --promo-img-margin-block-end: 24px;
  --promo-title-font: var(--font-headings-400-heading-d);
  --promo-description-font: var(--font-sub-headings-400-sub-heading-b);
  --promo-title-transfrom: capitalize;
  --promo-cta-rotate-icon: 0;
}

@custom-media --bp-small-min: (min-width: 552px);

.promo {
  padding: var(--spacing-16);
  color: var(--promo-color);
  background-color: var(--promo-background-color);
  max-inline-size: 552px;

  img {
    max-width: 100%;
  }

  .icon {
    transform: var(--promo-cta-rotate-icon);
  }

  @media (--bp-small-min) {
    padding: var(--spacing-40);
  }
}

.promo__title {
  margin-block-end: var(--spacing-24);
  text-align: var(--promo-text-align);
  font: var(--promo-title-font);
  text-transform: var(--promo-title-transfrom);

  @media (--bp-small-min) {
    --promo-title-font: var(--font-headings-1600-800-heading-d);
  }
}

.promo__description {
  margin-block-start: var(--spacing-24);
  text-align: var(--promo-text-align);
  font: var(--promo-description-font);
}

.promo__cta {
  font: var(--font-ui-labels-ui-md-smb);
  text-align: var(--promo-text-align);
  text-decoration: none;

  a {
    color: var(--promo-color);
  }

  .icon {
    color: var(--color-yellow-300);
  }
}

.promo__img {
  margin-block-end: var(--promo-img-margin-block-end);
}

.promo--no-image {
  --promo-cta-rotate-icon: rotate(-45deg);
}

.promo--image {}

.promo--circle {
  --promo-text-align: center;
  --promo-img-margin-block-end: 0;
  --promo-title-font: var(--font-meta-1600-800-meta-c);
  --promo-description-font: var(--font-body-body-md-smb);
  --promo-title-transfrom: uppercase;

  @media (--bp-small-min) {
    --promo-description-font: var(--font-body-body-lg-med);
  }

  .promo__img {
    margin-inline: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    max-inline-size: 96px;
    object-fit: cover;

    @media (--bp-small-min) {
      max-inline-size: 168px;
    }
  }
}

.promo--theme4 {
  --promo-background-color: var(--color-blue-800);
  --promo-color: var(--color-design-system-white);
}

.promo--theme2 {
  --promo-background-color: var(--color-green-900);
  --promo-color: var(--color-design-system-white);
}

.promo--theme3 {
  --promo-background-color: var(--color-purple-900);
  --promo-color: var(--color-design-system-white);
}

.promo--theme1 {
  --promo-background-color: var(--color-design-system-white);
  --promo-color: var(--color-neutral-900);
}
