<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Social" description="Social" extends="AtriusHealth.Feature" dependencies="Foundation.*">
          <predicate>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/$(module)"></include>
            <include name="EditFrame" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/$(module)"></include>
          </predicate>
        </configuration>
        <configuration name="Feature.Social.Content" description="Social" extends="AtriusHealth.Base.Content" dependencies="Feature.Social">
          <predicate>
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default/$(module)"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
