// this file is optional and is for settings that should not be checked into git.
// to use, copy the contents into local.js

module.exports = {

    // proxy to be used with browserSync.
    // http://www.browsersync.io/docs/options/#option-proxy
    // omit or set to false for static sites
    // "proxy": "http://dev.graybox.velir.net/",
    // "proxy": "http://dev.association.velir.net/",

    // port that browsersync will run on
    // http://www.browsersync.io/docs/options/#option-port
    // "browserSyncPort": 3000,

    // destination path for gulp (could be local files or VM path)
    // "vmRoot": "//192.168.33.10/wwwroot/ProjectName/Website",

    // Name of project the build should target. Name of project should reflect
    // name of root folder under src/Project
    // "projectTargets": ["Graybox"]
};
