<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <interfaceFactory>
        <!-- 
          Add a processor to this pipeline to provide an implementation for a specific interface:
            
            1. Your processor should inherit from 'Thread.Foundation.Orm.Factory.Pipeline.InterfaceFactoryProcessor'
            2. Your process should likely use 'patch:before="*[1]"' to place processors in order of most-specifc to least-specific
               (because configs are patched in order of Layer Foundation -> Feature -> Project you likely want Project-specific implementations
               processed first).
          
          Example:
          <processor patch:before="*[1]" type="Processor that implements Thread.Foundation.Orm.Factory.Pipeline.InterfaceFactoryProcessor" />
        -->
      </interfaceFactory>
    </pipelines>
  </sitecore>
</configuration>
