@using Thread.Foundation.Dictionary.Repositories
<button class="btn btn--primary js-toggle-btn js-toggle" type="button">@Dictionary.Current.Get("Account.EditButtonLabel")</button>
<button class="btn btn--secondary js-toggle-btn js-toggle is-hidden" type="button">@Dictionary.Current.Get("Account.CancelButtonLabel")</button>
<button class="btn btn--primary js-submit-btn js-toggle is-hidden" type="submit" disabled="false">@Dictionary.Current.Get("Account.SaveButtonLabel")</button>