<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <getContentEditorWarnings>
        <processor patch:instead="*[@type='Sitecore.Pipelines.GetContentEditorWarnings.IsLocked, Sitecore.Kernel']"
        type="AtriusHealth.Foundation.Workflow.Pipelines.UnlockItemWarning,AtriusHealth.Foundation.Workflow" />
        <processor />
      </getContentEditorWarnings>
    </pipelines>

    <commands>
      <command name="AtriusHealth:unlockitem" type="AtriusHealth.Foundation.Workflow.Commands.UnlockItem, AtriusHealth.Foundation.Workflow" />
    </commands>
  </sitecore>
</configuration>  
