<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Workflow" description="Workflow" extends="AtriusHealth.Foundation" dependencies="Foundation.Serialization">
          <predicate>
            <include name="Workflow" database="master" path="/sitecore/system/Workflows/Sitecore Workflow"></include>
            <include name="AutoPublsihCommand" database="master" path="/sitecore/system/Tasks/Commands/Auto Publish"></include>
            <include name="WorkflowPanelRibbon" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Workflow/WorkflowPanel"></include>
            
          </predicate>
          
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles">
            <include domain="sitecore" pattern="^Sitecore Content.*$" />
            <include domain="sitecore" pattern="^Sitecore.* Workflow$" />
          </rolePredicate>
          <roleSyncConfiguration removeOrphans="true" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />

          <!-- 
						Note: the configuration must also define a predicate (e.g. to include items),
						or use the empty predicate, which includes nothing, for a users-only configuration:
					-->
          <!--<predicate type="Unicorn.Roles.Predicates.EmptyPredicate, Unicorn.Roles" singleInstance="true" />-->

          <!-- 
						Add the user predicate. Adding a user predicate tells Unicorn you want to sync users with this configuration.
					-->
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <!--
							Each include must either include a domain, which includes all users under that domain,
							or a domain with a user regex pattern to determine specific users to include under the domain.
							
							For regex pattern rules, note that the regex applies to the user not including the domain,
							e.g. for "sitecore\foo" the regex pattern is checked against "foo" if the domain is set to "sitecore"
						-->
            <include domain="sitecore" pattern="^Sitecore.*$" />
            <!-- Note: you may include the same domain in multiple include elements, with different patterns -->
          </userPredicate>

          <!-- 
						SYNC CONFIGURATION
						
						NOTE: if you do not alter the default values you can remove this entirely and use the defaults set in Unicorn.Users.config
						
						removeOrphans:
						If you set RemoveOrphans to true, user syncing will delete matching users that are not serialized, like item syncing does.
						If set to false, users are only ever added or updated (similar to New Items Only item syncing but updates are also synced)
					
						defaultPassword:
						When NEW users are deserialized, their passwords will be set to this value. 
						If the value is set to "random," the password will be set to a long randomly generated value, otherwise the literal value is used.
						In "random" mode, it is required to have an admin reset the user's password before it can be used.
			
						minPasswordLength:
						If defaultPassword is not random, this settings defines the minimum accepted password length when deserializing a user.
						Default is 8 and must be larger than 0.
			
						If a user already exists in Sitecore, when it is deserialized its password will not be altered.
					-->
          <userSyncConfiguration removeOrphans="false" defaultPassword="W0rkfl0w" minPasswordLength="8" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>

</configuration>
