<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <pipelines>
      <interfaceFactory>
        <processor patch:before="*[1]" type="Thread.Feature.Metadata.Pipelines.InterfaceFactory.IndexBaseISearchableProcessor,Thread.Feature.Metadata" />
      </interfaceFactory>
    </pipelines>
	</sitecore>
</configuration>
