@import "../../../scss/variables/index";

.account-buttons {
  flex-basis: 38%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: -24px;

  text-align: right;

  @media (--bp-small-min) {
    min-width: 355px;
  }

  div + & {
    margin-top: 16px;

    @media (--bp-medium-min) {
      margin-top: 0;
    }
  }

  .btn {
    margin-top: 10px;
    margin-left: 24px;

    @media (--bp-medium-min) {
      margin-top: 0;
    }
  }

  .is-hidden {
    display: none;
  }
}
