@import "../../../scss/variables/index";

.account-message {
  padding: 24px;

  color: $black;
  background-color: $grey-300;

  @media (--bp-small-min) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    height: 32px;
    width: 32px;
    margin-right: 12px;
  }
}
