<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Common" description="Search" extends="Thread.Base" dependencies="Foundation.*,Feature.*">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)"></include>
            <include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(module)"></include>
          </predicate>
        </configuration>
        <configuration name="Project.Common.Content" description="Common Project Content" extends="Thread.Base.Content" dependencies="Project.Common">
          <predicate>
            <include name="Search" database="master" path="/sitecore/system/Modules/Search/Filters" />
            <include name="Global" database="master" path="/sitecore/Content/Global Configuration"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>