<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
		<encodeNameReplacements>
			<replace mode="on" find=" " replaceWith="-" />
		</encodeNameReplacements>
		<linkManager>
			<providers>
				<add name="sitecore">
					<patch:attribute name="languageEmbedding">never</patch:attribute>
					<patch:attribute name="lowercaseUrls">true</patch:attribute>
				</add>
			</providers>
		</linkManager>
		<mediaLibrary>
			<mediaTypes>
				<mediaType name="PDF file">
					<forceDownload>false</forceDownload>
				</mediaType>
			</mediaTypes>
		</mediaLibrary>
    <services>
      <Jabberwocky.ScannedAssemblies>
        <foundation>Thread.Foundation.*</foundation>
        <feature>Thread.Feature.*</feature>
        <project>Thread.Project.*</project>
      </Jabberwocky.ScannedAssemblies>
    </services>
    <pipelines>
      <interfaceFactory>
        <processor type="Thread.Project.Common.Pipelines.InterfaceFactory.PageBaseItemIContextualLinkableProcessor,Thread.Project.Common" />
        <processor type="Thread.Project.Common.Pipelines.InterfaceFactory.PageBaseItemIShareableProcessor,Thread.Project.Common" />
      </interfaceFactory>
    </pipelines>
		<settings>
			<setting name="InvalidItemNameChars">
				<patch:attribute name="value">\/:?&quot;&lt;&gt;|[]-</patch:attribute>
			</setting>

			<setting name="Media.RequestExtension">
				<patch:attribute name="value"></patch:attribute>
			</setting>

			<setting name="IgnoreUrlPrefixes">
				<patch:attribute name="value">/assets/|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/sitecore/service/xdb/disabled.aspx</patch:attribute>
			</setting>
		</settings>
  </sitecore>
</configuration>
