<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Search" description="Search" extends="AtriusHealth.Feature" dependencies="Foundation.*">
          <predicate>
            <include name="Thumbnails" database="master" path="/sitecore/Media Library/Thumbnails/$(layer)/$(module)"></include>
            <include name="Filters" database="master" path="/sitecore/templates/Velir/$(module)/Filters"></include>
            <include name="Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/AtriusHealth/$(layer)/$(module)"></include>
          </predicate>
        </configuration>
        <configuration name="Feature.Search.Content" description="Search" extends="AtriusHealth.Base.Content" dependencies="Feature.Search">
          <predicate>
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Default/$(module)"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
