@import "../../../scss/variables/index";

.image-block {
  /* // @include component-whitespace(); */
}

/* // image media */

.image-block__media {
  /* // image */
  border-bottom: 1px solid $grey-300;

  img {
    display: block;
    width: 100%;
  }

  /* // figcaption */

  figcaption {
    max-width: 700px;
    padding-top: 10px;
    padding-bottom: 35px;

    font-size: 14px;
    line-height: 1.45;
  }
}
