<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<!-- Image Cropper -->
			<command name="velir:ImageCropperTool" type="Sitecore.ImageCropper.CustomSitecore.Apps.ImageCropper.ImageCropperToolCommand, Sitecore.ImageCropper" />
		</commands>
		<imageCropper>
			<metaFields>
				<!--
					Ex:
					<field name="artist" sitecoreFieldName="Artist" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifAuthorReader, Sitecore.ImageCropper" lock="true" required="true"/>
					
					name: A unique name that is used to reference this meta value
					sitecoreFieldName: The name of the sitecore field where this meta data will be stored
					imageFieldReader (optional, if excluded, this meta data can not be pulled from the image binary): Reference to a type that implements IImageMetaDataFieldReader. This is used to read the meta value out of the image file on first upload.
					lock (optional, defaults to false): Prevents editing this field when cropping an existing image in the media library. Fields with the lock set are still editable when first uploading the image.
					required (optional, defaults to false): The field is required.
				-->
				<field name="title" sitecoreFieldName="Title" required="true" />
				<field name="altText" sitecoreFieldName="Alt" required="true" />
				<field name="termsOfUse" sitecoreFieldName="Terms Of Use" lock="true" />
				<field name="artist" sitecoreFieldName="Artist" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifAuthorReader, Sitecore.ImageCropper" lock="true" />
				<field name="copyright" sitecoreFieldName="Copyright" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifCopyrightReader, Sitecore.ImageCropper" lock="true" />
				<field name="dateTime" sitecoreFieldName="DateTime" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifDateTakenReader, Sitecore.ImageCropper" lock="true"/>
				<field name="imageDescription" sitecoreFieldName="ImageDescription" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifTitleReader, Sitecore.ImageCropper" lock="true"/>
				<field name="cameraMake" sitecoreFieldName="Make" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifCameraManufacturerReader, Sitecore.ImageCropper" lock="true"/>
				<field name="cameraModel" sitecoreFieldName="Model" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifCameraModelReader, Sitecore.ImageCropper" lock="true"/>
				<field name="software" sitecoreFieldName="Software" imageFieldReader="Sitecore.ImageCropper.MetaData.ExifApplicationNameReader, Sitecore.ImageCropper" lock="true"/>
			</metaFields>
		</imageCropper>
	</sitecore>
</configuration>
