.multiselect-list {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  font-size: 12px;
  list-style: none;

  em {
    display: inline-block;
    padding: 2px 0;

    font-style: normal;
    background-color: #ebf3fe;
  }

  li {
    margin-bottom: 0;
    padding: 6px 10px;
    cursor: pointer;

    &.multiselect-list__clear:hover {
      background-color: transparent;

      button {
        color: $grey-500;
      }
    }
  }

  label {
    display: flex;
    align-items: baseline;

    color: $grey-500;
  }

  label:hover {
    color: $grey-900;
  }

  label::before {
    display: inline-block;
    flex-shrink: 0;
    height: 12px;
    width: 12px;
    margin-top: -1px;
    margin-right: 14px;

    line-height: 1;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color: $grey-400;
    border-radius: 2px;
    content: " ";
  }

  /* absolute positioning from u-visuallyhidden
  ** causes scroll jump. explicit left/top appears to fix it
  */
  input {
    top: 0;
    left: 0;
  }

  input:hover + label,
  input:checked + label {
    color: $grey-900;
  }

  input:checked + label::before {
    color: $white;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    background-color: $grey-400;
    content: "\2714";
  }

  .multiselect-list {
    max-height: none;
    overflow-y: visible;
    margin-top: 6px;
    margin-left: 0;
  }
}

.multiselect-list__label {
  color: $grey-600;
  font-size: 11px;
}
